[2016-03-01 17:07] kentcdodds opened #1 "Support generating the entire table via JSON config"
In the rc file, I'd like to be able to do this:

[code]

Which would produce:

[code]

Notice that you can either pass a string or an object to the `contributions` and there are some default `url`s for each, but the default can be overridden with the object.

What do you think? :thought_balloon:

[2016-03-01 17:08] kentcdodds commented on #1
The thing I like about this is it would allow us to configure the contributors making it much easier for people to add themselves to the list.

[2016-03-01 18:02] kentcdodds opened #2 "Add comment to the output so people know it's generated"
In markdown, you can add a comment like so:

[code]

It'd be great to add a comment above the output indicating that it's generated and people should not try to modify it directly. Probably direct them to where they can update the contributors (presumably in the rc file if #1 gets supported).

[2016-03-01 19:51] jfmengels commented on #1
Interesting idea. I can't decide whether this should be in 1 file (as you proposed), or in two: a `rc` file, and a contributors file. I feel like that would be a lot of files though.

For most Node.js project, you have a package.json file, where you can (already implemented) set the config. If you do that, then having the contributors in a JSON-formatted file makes sense, but not a `rc` file.

I'm

[2016-03-01 19:54] jfmengels commented on #2
I like this, because it has another nice property: it can be used as an anchor. Right now, I feel that the system to parse the .md (or simply, the search for the contributors list) is kind of a hack. Having a tag serve as an anchor would make that simpler. I will probably add a "closing" tag too.

[2016-03-01 20:03] kentcdodds commented on #1
Personally, I'd rather it be an `rc` file where I can configure everything. But I'm fine with either way you choose :+1:

[2016-03-01 20:05] jfmengels commented on #1
Well let's start with your way to start with and see how it goes :+1:

[2016-03-01 20:17] jfmengels opened #3 "Add an `init` command to generate rc files and a contributors section"
In addition to the `add` command, it would be nice to have an `init` command that:
- requests the user for necessary configuration information (repo name, repo owner, contributor file path)
- Create an `rc` file
- Add a `## Contribution` section at the end of the contributor file if not available
- Add enclosing contributors list tags
- Add enclosing contributors list tags

[2016-03-01 20:17] kentcdodds commented on #3
:+1:

[2016-03-01 20:34] jfmengels commented on #2
I think this should be man-made to start with, and should be generated with the `init` command described in #3.

[2016-03-01 20:38] #2 closed

[2016-03-02 01:34] jfmengels opened #4 "Add a "alt" for the emoji"
See https://github.com/kentcdodds/all-contributors/issues/16

[2016-03-02 09:04] jfmengels commented on #4
Does anyone know whether this is actually possible in Markdown?

[2016-03-02 14:22] kentcdodds commented on #4
I don't think so: https://github.com/kentcdodds/all-contributors/issues/16#issuecomment-191058937

[2016-03-02 14:30] #4 closed

[2016-03-02 23:31] jfmengels commented on #1
Fixed in f2c8733e038aac7341aea08bb2aa00b2c83bc9c3 and ff7457c825f62beb20089d8276fca56933ed04bc.

[2016-03-02 23:31] #1 closed

[2016-03-02 23:32] jfmengels commented on #1
@kentcdodds By the way, I added you as a contributor with regards to your "discussions and feature requests", but there's no real category for that ôo

[2016-03-03 00:14] kentcdodds commented on #1
Maybe there should be ;-)

[2016-03-03 00:21] jfmengels opened #5 "Have a badge indicating the number of collaborators"
See https://github.com/kentcdodds/all-contributors/issues/21

[2016-03-06 15:51] #5 closed

[2016-03-06 22:41] jfmengels opened #6 "Handle common errors"
- [ ] Could not find `.all-contributorsrc` file.
- [ ] `projectOwner` is not set in `.all-contributorsrc` file.
- [ ] `projectName` is not set in `.all-contributorsrc` file.
- [ ] `files` was overriden in `.all-contributorsrc` file and is empty.
- [ ] Could not find some of the files to inject into. If adding a contributor, the addition should still take place.
- [ ] Could not find any injection t

[2016-03-08 08:02] jfmengels opened #7 "Allow tags to be on the same line"
Having tags on the same line would allow to inject content (for instance, the badge) in a line.
Tags will be searched in the whole document and the first tag found will be replaced.
Problem: The example for adding the contributors list tag will be replaced.
Should be ok after #3 is done, as the examples will probably have been removed.

[2016-03-16 13:03] kentcdodds opened #8 "A few items"
If you'd like, I can file individual issues for each of these individually based on what you're interested in actually implementing.

1. Rename properties? `login` -> `gitHubUsername`, `avatar_url` -> `avatarUrl`, -> `html_url` -> `htmlUrl`. Mostly just because I hate snake case. Feel free to reject this request :-)
2. I would love it if I didn't have to provide the `name`, `avatar_url`, and `html

[2016-03-16 14:30] jfmengels commented on #8
1. I don't mind, but I took them as that is what is returned by GitHub's user API. I don't mind renaming it though, but that adds some kind of translation from API response to the JSON to write.
Also, I'm not fond of having gitHubUsername, as all-contributors should not be IMO specific to GitHub. Currently the CLI only has support for GitHub API, but it doesn't have to be like that.

2. That's alr

[2016-03-16 15:12] kentcdodds commented on #8
1. Ah! Didn't know that! :+1:
2. I actually am talking about what I have to put in the `.all-contributorsrc` file. I'd rather not have to include all those properties.
3. :+1:
4. Yeah, good point. Forks would make this really difficult... Maybe keep it the way it is. Yeah, for the `init` command (#3) we could have it pre-populate based on something like `git config --get remote.origin.url`.
5. Tha

[2016-03-16 15:31] jfmengels commented on #8
2 - But that is taken care of by the `add` command. When you `add` a contributor, a request is made to the GH API and those fields are written in the `.all-contributorsrc` file. Except if you want to override stuff, you should not have to touch them, but never add them. Is it having that data in the file that is bothering you? Hit me on Gitter if I'm still misunderstanding stuff.

4 - Thanks for t

[2016-03-16 15:39] kentcdodds commented on #8
2 - Right, but I don't want to have to update that information in the future if someone changes their name for example, and if I'm not using the `add` command, I don't want to add it manually. I'd prefer the `generate` command to make the requests to the GitHub API for that data if it's not listed :+1:

[2016-03-16 15:49] jfmengels commented on #8
Ah, so you'd like to define only the login and the eventual manually set fields, and let `generate` fetch the missing data without writing them into the `rc` file. Hmm... I made it this way so you would download the info once, and then be able to generate the contributors list fast and offline, which I think is the better way (or at least, better default way). I guess I could do that if there is m

[2016-03-16 15:56] kentcdodds commented on #8
I guess I mostly didn't think about it and I prefer to hand craft things when I get started. Maybe in the future I'll probably use it.

Do you know what the limit is? If we could handle 50 contributors that'd be fine I'm sure. And if it becomes a problem we can address it then (add an auth token option or something).

I think the real dream for this thing would be to set up a bot that makes a PR t

[2016-03-16 16:08] jfmengels commented on #8
For the limit, I thought it was 30 without token, and 50 with. Not sure it's the case though when I look at things like this: https://developer.github.com/v3/users/

X-RateLimit-Remaining: 4999

Will have to play with it a bit. If I see the limit is really high, I'll probably add it.

I was thinking of the same thing. I was thinking of creating a bot like eslint-bot or facebook's mention bot, that

[2016-03-16 19:28] kentcdodds commented on #8
![card-pokes-confirmation-joW44Re99ZfC8](https://camo.githubusercontent.com/211b73765185b387b9b5518b3dabda5de2bd2424/68747470733a2f2f6d65646961312e67697068792e636f6d2f6d656469612f6a6f573434526539395a6643382f67697068792e676966)

That would be legit

[2016-03-21 23:45] #7 closed

[2016-03-21 23:48] jfmengels commented on #8
@kentcdodds
- imageSize got fixed :)
- tags can be on the same line now!
- There is a init command!

Hope it makes you happy, let me know what you think :)
(Closing this thread, if you notice bugs --> new issue)

[2016-03-21 23:48] #8 closed

[2016-03-21 23:49] jfmengels commented on #3
Landed in 6c90a4567f8e94e7d9245b7db02656b3b4a8b656

[2016-03-21 23:49] #3 closed

[2016-03-22 00:11] jfmengels commented on #8
Hmm... now that I look at the README.md, having the comment tag on the same line breaks GH's markdown rendering (look fine in Atom though)... crap...

[2016-03-22 02:12] kentcdodds commented on #8
Hmm, yeah, maybe for the badge instead of looking for the comment you just look for the generated badge?

[2016-03-22 09:30] jfmengels commented on #8
Yeah, I guess that will have to do. Messy :(
Will work on it tonight

[2016-03-25 01:35] sarbbottam opened #9 "Provide script to automate the process"
**Please excuse me for cross posting**

Updating contributors w.r.t. .all-contributorsrc is a mechanical activity, I was wondering if it can be automated.

I have submitted a https://github.com/ta2edchimp/opt-cli/pull/20, I guess it could be part of this repo as an utility. If you feel it would be usable please have look at https://github.com/ta2edchimp/opt-cli/pull/20/ and share your thoughts.

F

[2016-03-25 01:53] kentcdodds commented on #9
I think this would be awesome. :+1:

[2016-03-25 08:05] jfmengels commented on #9
Well, it kind of already is automated. When you add someone as a contributor or update his contributions using the `add` command, it will also run `generate` afterwards. [Description of the add command here](https://github.com/jfmengels/all-contributors-cli#addupdate-contributors)

For some reason, which I would really like to discuss, the `add` command is not used in your repo (I think you copied

[2016-03-25 09:59] ta2edchimp commented on #9
Sad to hear that the contribution guideline seemed so discouraging to you :disappointed:
How could it be improved? What is it exactly that seemed discouragingly, or is the list just too long?

Would you guys be interested in participating in a more general discussion about this ([I set up a repo and filed an issue to be able to discuss this](https://github.com/ta2edchimp/discussion-contribution-gu

[2016-03-25 10:08] jfmengels commented on #9
The list is just too long. I think beginners may get scared to miss a step and be yelled at. Doesn't matter how much it gets decorated by gifs, emojis or encouraging talk, a huge list looks like a wall that is hard to cross over.
It is especially long and useless (some parts of it I mean) if you want to make a small change like fix a typo. I think some steps could be removed, even if that lowers t

[2016-03-25 10:36] jfmengels commented on #9
Also, I guess I didn't take a deep enough look at the proposed utility (the part where the generated gets commited and pushed), my bad. That makes it obviously more interesting. I'll improve the `add` command, and you guys let me know if this still makes to you, and we'll see about adding it in a recipe or something.

[2016-03-25 10:38] ta2edchimp commented on #9
That would be awesome! Take your time, there's a wall of text over there. But I'd really like to address this sooner or later, as I'd like to lower the barrier (esp. for such a small projects, like `opt-cli`) as much as possible, while still ensuring everything to be as cleaned up and orderly as possible (but in the end, that could just be a typical german attitude :stuck_out_tongue_winking_eye:).

[2016-03-25 10:41] jfmengels commented on #9
This idea makes it all worth it :heart: :

[2016-03-25 17:27] sarbbottam commented on #9
The intention behind `script to automate` was to get rid of the manual commit.

I would be great to achieve it by any means, as suggested by @ta2edchimp, use [`Inquirer.js`](https://github.com/SBoudrias/Inquirer.js/) and auto `commit` once the README is updated

[2016-03-29 10:30] ta2edchimp opened #10 "Prompt for action when invoked without arguments"
Considering the latest changes of `v2.0.0-beta7`, where the user is given a prompt when invoking `all-contributors add` without further arguments, I think it would be nice, when there's also a prompt when omitting any arguments at all.

I think of something like that:

[code]

- When there's no `.all-contributorsrc` file present:
  - ask whether to run the initialization step,
  - exit.

- When th

[2016-03-29 11:35] jfmengels commented on #10
Sure, can't hurt in making the cli more user-friendly. :+1:

[2016-03-30 15:43] kentcdodds opened #11 "Format like regular JSON"
Maybe this is just a personal style thing, but I'd reeeeally like to _at least_ configure this to not reformat my json file with comma-first style.

Happy to make a PR if you could give me some direction.

[2016-03-30 15:46] kentcdodds opened #12 "Add reference to the spec"
As noted in the spec, you need to have a reference to the emoji key and the spec itself:

[code]

Happy to make a PR with some direction

[2016-03-30 17:40] #11 closed

[2016-03-30 17:42] jfmengels commented on #11
Would love having PRs incoming, but this was a pretty easy fix. I want to add a few things to the project and I'll make a release soon-ish (maybe as soon as tonight).

[2016-03-30 17:49] kentcdodds commented on #11
Thanks!

[2016-03-30 17:52] jfmengels commented on #12
I don't see what is missing https://github.com/jfmengels/all-contributors-cli#contributors :confused:

Would love a PR fixing it (whatever might be broken?). What kind of directions do you need? I don't have a contributing file sorry, will try to work on one.

[2016-03-30 17:55] jfmengels commented on #11
Shouldn't you get back to interviewing? I'm watching you :p

[2016-03-30 17:55] kentcdodds commented on #11
:sweat_smile:

[2016-03-30 17:56] jfmengels commented on #11
Haa!, saw the smile live :D

[2016-03-30 18:16] kentcdodds commented on #12
Sorry, should have been more clear. I would prefer that everything is generated, not just the section heading and the table. Right now, (unless I'm mistaken), when you generate for the first time, it only adds:

[code]

But I would prefer it to add:

[code]

Thanks!

[2016-03-30 18:35] jfmengels commented on #12
Aaahh... yes of course, that makes sense. Would be great :+1:

Well, if you don't mind spending time working on it, here are some directions:
- The contributor list/section gets generated here https://github.com/jfmengels/all-contributors-cli/blob/master/lib%2Finit%2FinitContent.js#L27
- Tests for it are here: https://github.com/jfmengels/all-contributors-cli/blob/master/lib%2Finit%2FaddContributo

[2016-03-30 19:13] kentcdodds commented on #12
Hey @jfmengels, this looks like a great [`first-timers-only`](https://medium.com/@kentcdodds/first-timers-only-78281ea47455) issue. Would you be interested in creating a label and setting this up as a first timer's issue? Here's a good example of one: https://github.com/kentcdodds/webpack-validator/issues/35

[2016-03-30 19:16] jfmengels commented on #12
Sure, sounds good.

[2016-03-30 19:34] #10 closed

[2016-03-30 19:35] jfmengels commented on #10
@ta2edchimp I changed what you proposed when no rc file is found to directly launch the init command.

[2016-03-30 19:36] jfmengels commented on #6
(it is still beginner-friendly, just wanted the issue to be less polluted by too many labels ;) )

[2016-03-30 19:37] ta2edchimp commented on #10
Cool, will try soon!

[2016-03-30 19:41] jfmengels commented on #10
@kentcdodds @ta2edchimp Just published beta9. This also includes changing the JSON formatting in the rc that @kentcdodds really didn't like (can't blame him really).
@sarbbottam There's now a commit flag in the rc file, that if set to true, will auto-commit when using `add` (hopefully this will convince you guys use the `add` command :D).

(Yup, hijacking this issue to announce the release, but do

[2016-03-30 19:47] jfmengels commented on #9
I left a comment [here](https://github.com/jfmengels/all-contributors-cli/issues/10#issuecomment-203602456)

@sarbbottam If this suffices you, do you mind closing this issue? If you want something more, please let me know ;)

[2016-03-30 20:26] #9 closed

[2016-03-30 21:29] jfmengels commented on #9
Well that's a good sign :)

[2016-05-02 15:55] kentcdodds opened #13 "Publish 2.0.0... again?"
You have some beta versions that were released more recently than the `2.0.0` which makes things pretty confusing. Could you publish a 2.0.1 or something? Maybe even a `3.0.0` if there are breaking changes?

[2016-05-02 20:10] jfmengels commented on #13
Yeah sure. Sorry about not doing this sooner. I released the beta11 version I was pretty content with, and then got no feedback (meaning people were probably pretty happy with it, or just stopped using it). At that point, I should have siply released the non-beta version.
(Man it feels like ages ago, but it was only a month ago oO)

There were some breaking changes between the various 2.0 versions

[2016-05-02 20:12] kentcdodds commented on #13
Awesome. I'm going to start using it in all of my projects because it just works great. I've added it to [my (wip) generator](https://github.com/kentcdodds/generator-kcd-oss) :-)

[2016-05-02 20:19] jfmengels commented on #13
Cool! Very glad to hear that!

`v3.0.0` is out now :)

[2016-05-02 20:19] #13 closed

[2016-05-02 20:24] kentcdodds opened #14 "Force image size?"
For some reason, GitHub doesn't size avatars which haven't yet been set like [here](https://github.com/kentcdodds/p-s/tree/c75cba64100d462a977e4bff341e9cf2ddc89151#contributors)

<img width="746" alt="screen shot 2016-05-02 at 9 59 15 am" src="https://cloud.githubusercontent.com/assets/1500684/14966629/b0ebc9c2-1070-11e6-88bc-6688b29c4432.png">

Is there a way we could format the table to force an

[2016-05-02 20:34] jfmengels commented on #14
I don't see the problem, this put emphasis on beginners, wasn't that really important to you?

More seriously, you're right, it doesn't work well with those images. It looks like we can fix the size with `<img src="https://avatars.githubusercontent.com/u/802242?v=3&s=100" alt="Drawing" style="width: 100px;"/>`. WIll play with it a bit and see what the drawbacks will be.

[2016-05-02 20:44] jfmengels commented on #14
setting a style property doesn't work in GH (but works in Atom), but setting a width property directly works
`<img src="https://avatars.githubusercontent.com/u/802242?v=3" width="100px;"/>`

I've added your section at the top here https://github.com/jfmengels/all-contributors-cli/blob/t/README.md. Do you mind proofing this before and changing it in the tool? I've removed what I think was the markd

[2016-05-02 20:57] kentcdodds commented on #14
That's perfect :+1: Thanks@!

[2016-05-05 15:49] #14 closed

[2016-05-05 16:04] jfmengels commented on #14
Fixed and released in `v3.0.1`. I accidentally published with Node v6, which has a `npm` version with problems (some files are not published). This time it seems to work fine though. Let me know if it doesn't work for you, and I'll re-publish it.

[2016-05-05 16:07] kentcdodds commented on #14
Cool! I'll give it a look soon. I've had that issue too. Crazy stuff. Thanks for working on this!

[2016-05-06 17:43] kentcdodds commented on #14
Just tested this out and it works great. Thanks!

[2016-05-06 17:49] jfmengels commented on #14
Yay! 🎉

[2016-05-09 21:31] jccguimaraes commented on #12
is there any one picking this up?

[2016-05-09 21:39] jfmengels commented on #12
No one picked it up yet. Would you like to? :)

[2016-05-09 21:55] jccguimaraes commented on #12
haven't looked at the code, but i can give a spin 👍

[2016-05-09 21:57] jfmengels commented on #12
Cool, that'd be great! :smile:

Let me know if you need help with anything :)

[2016-05-09 22:30] jccguimaraes commented on #12
hey, are you in gitter? i can't seem to run 3rd point

[2016-05-10 22:35] jfmengels opened #15 "Properly handle the case where there are no contributors"
When there are no contributors, this will be generated:

[code]

Instead, it should simply inject an empty content.

To avoid having no contributors in the first place, the `init` command should also add the project owner to the list of contributors whenever possible.

I will take care of this in the following days, except if someone wants to take a stab at it.

[2016-05-11 18:13] jfmengels commented on #12
Fixed thanks to @jccguimaraes :)

[2016-05-11 18:13] #12 closed

[2016-05-11 18:50] #15 closed

[2016-05-24 15:00] cezaraugusto opened #19 "Improvement: Filter contributors by branch"
Any possibility for this being included?

[2016-05-24 16:21] kentcdodds commented on #19
Could you describe what you mean more fully?

[2016-05-24 19:23] cezaraugusto commented on #19
Hi Kent, sure. Let me try to explain it better:

I have a forked repo, and would like to include only people who have contributed to the forked version. This way excluding people who have already contributed to the original source.

The point is that I'm making a translated version of a book (which I've set to another branch), and would like to include people that is helping me with the translatio

[2016-05-24 20:22] kentcdodds commented on #19
Hmmm... Well, IIUC, all-contributors-cli doesn't actually care about branches or source control at all. So you'd just have a different `.all-contributorsrc` file per branch. Maybe I'm missing something.

[2016-05-24 21:28] cezaraugusto commented on #19
Sorry Kent, just read the source code to see how it works. Works as you expected. Thanks.

[2016-05-24 21:28] #19 closed

[2016-07-03 21:00] boneskull commented on #6
fwiw, having this one:

[code]

[2016-09-11 10:00] tunnckoCore opened #22 "read config from package.json - from `config.all-?contributors` field?"
Amazing idea, btw!

In help can be https://github.com/jonschlinkert/github-contributors

[2016-09-11 12:30] kentcdodds commented on #22
I'm fine with it, but I wouldn't do it that way. I like to avoid bloating my package.json.

[2016-09-11 13:21] jfmengels commented on #22
Hi @tunnckoCore!

This actually used to be the case. If I recall correctly, there used to be two files: one with the list of contributors, and one with the configuration, which could be replaced by putting it in the package.json.

I removed support for it at some point. Now there is one file for both the config and the list of contributors to keep stuff simple and co-located.

We could have the co

[2016-09-11 17:59] tunnckoCore commented on #22
I like to avoid bloating the root. In anyway we have many tools that loads config from package.json, so it worth.

Worth nothing to look on both places - package.json config, and `.all-contributorsrc` (damn, can't find them currently, but there's couple of packages that tries to load from `package.json`, `.NAMErc, `.NAMErc.json`, `.NAMErc.js`). List of contributors can be in the config too, or try

[2016-10-14 03:50] fadc80 commented on #6
Considering your first item.

Do you expect the following code snnipet from `cli.js` to be changed too?

[code]
I mean...

if .all-contributorsrc file doesn't exist, then the init command will not be run by default anymore.

An error message will be shown instead.

[2017-01-24 23:37] fforres opened #25 "[QUESTION] Different Languages?"
Is it considered to have multiple languages on this tool?
(Maybe it's already implemented or planned)
If not, I'd love to add a PR 😄

[2017-01-24 23:38] fforres commented on #25
Specifically for this piece of text:
`This project follows the [all-contributors](https://github.com/kentcdodds/all-contributors) specification. Contributions of any kind welcome!` :)

[2017-01-24 23:43] kentcdodds commented on #25
I think that'd be great. We definitely want to be as inclusive as we can. It's up to @jfmengels, but I'd personally accept a PR if it were my decision.

[2017-01-25 00:29] jfmengels commented on #25
Sure, why not :)

I'm thinking of a `language` setting in the rc file, with English as the default.
If you're up for it @fforres, I'd love a PR :)

[2017-01-26 23:31] fforres commented on #25
Awesome 👍
Just created the PR: https://github.com/jfmengels/all-contributors-cli/pull/31

[2017-02-09 19:11] tommck opened #33 "Arrow keys don't seem to work in Windows 10"
I have tried to use the up/down arrow keys in both PowerShell and cmd.exe and the arrow keys seem to do nothing (the green '>' doesn't move)

[2017-02-15 21:25] #33 closed

[2017-04-11 15:04] jerodsanto opened #40 "generate chokes with `Cannot read property 'symbol' of undefined`"
Howdy!

First off, 💚 this! Thanks so much for building it 🙏

We had Kent on [The Changelog](https://changelog.com/podcast/246) last week and he's convinced us to use all-contributors for our repo. I am generating now and a specific user account breaks the `generate` command. It is:

https://github.com/soleo

I cannot figure out what is different about Xinjiang's profile, but when I remove him from

[2017-04-11 15:48] kentcdodds commented on #40
Interesting! Can you give a stack trace?

[2017-04-12 13:23] jerodsanto commented on #40
Hmm how do I do that? I don't see a verbose mode in the usage...

[2017-04-12 13:34] kentcdodds commented on #40
Oh really? Huh... I'm not sure. Let me try this out later.

[2017-04-12 13:44] kentcdodds commented on #40
I was unable to reproduce. Could you give us your versions of node or npm? It could be that this package only supports Node v4 or greater.

[2017-04-12 13:50] jerodsanto commented on #40
Lame. These kind of bugs are the worst, sorry 🤢

Node 7.7.3
npm 4.1.2

Here's the entire .all-contributorsrc that works:

<details>
{
  "projectName": "changelog.com",
  "projectOwner": "thechangelog",
  "files": [
    "README.md"
  ],
  "imageSize": 100,
  "commit": false,
  "contributors": [
    {
      "login": "jerodsanto",
      "name": "Jerod Santo",
      "avatar_url": "https://avatars3.git

[2017-04-12 14:02] kentcdodds commented on #40
Whelp, I can find three places where this error could be thrown. If you could dive into your `node_modules` and add console.log statements around these that would be very helpful: [1](https://github.com/jfmengels/all-contributors-cli/blob/1305a7cd92cfaf29aab0e1d46b6a9659c750b560/lib/contributors/prompt.js#L15), [2](https://github.com/jfmengels/all-contributors-cli/blob/bae31e1f477fc9fbc7bb2d5752dd

[2017-04-13 18:45] jerodsanto commented on #40
And the answer was.... Door #2! 🚪

The problem was for that one entry I had typed "docs" instead of "doc" so `getType` would return undefined for that entry, which leads to the dreaded `Cannot read property of 'symbol' for undefined` on line 16.

In the end: user error. 😔

I would suggest a check to see if a `type` is found and printing an error message if not, so the user at least knows they have

[2017-04-13 18:53] kentcdodds commented on #40
Ah! Shucks! Yes, let's add a check and throw a more useful error. Would you like to [makeapullrequest.com](http://makeapullrequest.com)? :smile:

[2017-04-14 15:21] jerodsanto commented on #40
Happy to. How do I run the tests?

[2017-04-14 15:29] kentcdodds commented on #40
Sorry, this project should probably have a `CONTRIBUTING.md`... After installing the dependencies (`npm install`) run `npm test`.

[2017-04-14 15:29] kentcdodds commented on #40
And thank you!

[2017-04-15 13:58] jfmengels commented on #40
Thanks a lot @jerodsanto! (By the way, big fan of the show!)

[2017-04-15 13:58] #40 closed

[2017-08-03 15:43] jmeas opened #46 "generate is a noop"
Hi there!

I'm trying to use this CLI for the first time, and it must be that I'm making a silly mistake. When I run `all-contributors generate`, nothing happens.

I ran the init script, then added a contributor:

[code]

README.md exists. I also created CONTRIBUTORS.md for kicks. Neither of these files are updated when I run `generate`.

I'm sure I'm just missing something basic. I looked through

[2017-08-03 15:49] jmeas commented on #46
I dug into the code, and was able to fix it by manually adding:

[code]

into the files that I want updated. I'm going to close this issue for now, but if this is a step that I should add to the README, let me know and I'll PR it.

Thanks!

[2017-08-03 15:49] #46 closed

[2017-08-03 16:38] kentcdodds commented on #46
I'm pretty sure that the comment is added when you initialize things, but honestly I don't really know because [my generator](https://github.com/kentcdodds/generator-kcd-oss) has all that stuff baked in and ready to go 😅

[2017-08-03 16:40] jmeas commented on #46
It's entirely possible that the init command errored, and I just didn't notice it :)

[2017-08-03 23:19] jamesplease opened #47 "Breaking change: update default URL behavior"
:wave: Hi again!

I'm opening up this issue because [this feature](https://github.com/jfmengels/all-contributors-cli/blob/e5bd3b4c700ff91fd5b3228625a013ecf2b7cc7f/lib/generate/format-contribution-type.js#L27) seems unexpected to me. I could see someone _maybe_ adding these URLs to their projects, but it seems like that would be the exception, rather than the default.

For instance, the [all-contri

[2017-08-03 23:24] kentcdodds commented on #47
Yeah, I've considered this. The spec actually mentions that if someone's contributed content (like a video) those links should point to their content. But it's kinda hard to automate that. Trade-offs with the amount of time we have to work on this.

If you want to change it so we only have the link for certain contribution types that'd be fine :+1:

[2017-08-03 23:27] jmeas commented on #47
:+1: makes sense.

Cool. I'll do this sometime soon.

If anyone feels strongly _against_ this change, then that's alright, too. It can just as easily be left alone. It's a small thing, really.

[2017-08-18 15:47] jseminck opened #48 "Receiving some errors on Windows."
Hey all,

Today I added myself as a contributor to one OSS repo through the all-contributors CLI. I ended up receiving some errors, even though it looked like the contributors file was updated and a commit was made.

Here is the full log:

[code]

If I installed the CLI manually, then I did not get any errors, just an `undefined` message:

[code]

Not sure, if it is related to me being on Windows.

[2017-08-18 15:51] kentcdodds commented on #48
Thank you so much for reporting this! We definitely want this to work well for everyone regardless of the platform. Would you mind digging a little further to see what the problem is and suggest a solution?

Also, thanks for contributing to codesandbox! I love that app!

[2017-08-19 17:05] jseminck commented on #48
I just ran the same command on the downshift project, and it did not give me any errors nor the `undefined` message that I got when I installed the CLI globally. Maybe in `codesandbox` it still had an older/different version?

[2017-08-29 17:58] cg-cnu commented on #48
@kentcdodds Thanks for the awesome `all-contributors` 😄 I am also trying to add `all-contributors-cli` to `bundlesize` and faced the same issue on windows. https://github.com/siddharthkp/bundlesize/pull/108  I will try and see if I can figure out the issue. Will report back 🙂

[2017-09-13 17:23] DirtyF opened #49 "Generate from GitHub?"
Hi,

First of all, thanks for this.

I would like to know if there is a way to generate all existing contributors list from a GitHub repo at once? Nothing happens when I try to `generate` with an empty contributors file after init.
Do you have to add each contributor with `add`?

[2017-09-13 21:34] kentcdodds commented on #49
Hi @DirtyF!

Thanks for the issue. Unfortunately there's not anything like that. If you'd like to build it that would be cool! Could probably be part of the `init` script as an option or something. Feel free to [make a pull request](http://makeapullrequest.com/).

What I think would be an even more valuable use of time would be to make the CLI unnecessary by [creating a bot](https://github.com/ken

[2017-10-19 18:37] jmeas commented on #6
This should differentiate different types of network errors, I think, such as no connection and rate limiting.

[2017-10-19 18:54] brycereynolds opened #53 "Github hitting rate-limiting"
It seems that when a call is rate-limited, github will return a 200 with the body...

[code]

[2017-10-19 18:55] brycereynolds commented on #53
Added PR https://github.com/jfmengels/all-contributors-cli/pull/52 with error checking fix.

[2017-10-19 18:59] kentcdodds commented on #53
Thank you! Merged. It should be autoreleased in a few minutes :+1:

[2017-10-19 18:59] #53 closed

[2017-11-02 05:55] revelt opened #54 "contributor cards in second row and onwards are not in bold"
Hi all,

Currently only the first row is in bold:

![bold-not-bold](https://user-images.githubusercontent.com/8344688/32311746-201d943e-bf92-11e7-8067-e55bedce2676.png)

If we added double asterisks on every card's label on second row and onwards, we could make all cards look the same - in bold:

[code]

What do you think?

Btw I'm not going to contribute any code to this, feel free to grab it.

[2017-11-02 11:50] machour commented on #54
Nice catch! This is due to the first row being rendered in a `<thead>`.

[2017-11-02 13:24] kentcdodds commented on #54
Yes, I'd love this to be fixed. I don't particularly care how. Would anyone like to submit a pull request?

[2017-11-02 13:32] donysukardi commented on #48
The error is not Windows specific. I traced back the error to https://github.com/jfmengels/all-contributors-cli/blob/master/cli.js#L65.

Apparently the error appears on repository that uses husky and lint-staged. I attached the remote debugging against the package installed by `codesandbox-client` and got the following error messages,

[code]

[2017-11-02 13:39] machour commented on #54
I'll take care of it :)

[2017-11-02 16:52] #54 closed

[2017-11-02 16:55] kentcdodds commented on #48
Thanks for the investigation @donysukardi. All of my repos use husky and lint-staged and I've not experienced this problem before... 🤔

[2017-11-03 02:02] donysukardi commented on #48
@kentcdodds You're right. Let me test it out on a more controlled repo with just this package.

[2017-11-03 03:39] donysukardi commented on #48
@kentcdodds @jseminck I tested it against downshift with commit flag set to true and I got the same issue. The current git commit code doesn't play nicely with husky apparently.

[2017-11-03 04:07] kentcdodds commented on #48
Ah, thanks for finding that out! I never use that option which explains why I haven't had the problem. Honestly I don't personally care for that option at all, so I'd be more inclined to remove the option personally...

[2017-11-03 12:20] donysukardi commented on #48
Agreed. It's a good-to-have, but can-live-without feature. Perhaps what we can do is to still keep the code and display message that manual commit is required when the commit command fails.

[2017-11-03 12:25] machour commented on #48
I discovered the `commit` feature yesterday while contributing to this repo and found it to be *really* confusing.

+1 on removing it

[2017-11-07 18:25] machour opened #61 "Allow removing contribution types when editing an existing user"
There is currently no way to remove a contribution type using the cli, as noticed in #60

[2017-11-08 17:01] GantMan commented on #49
Ok, I'm strongly interested in adding this feature.  If no one else has started it, I wouldn't mind giving it a go.

Would it be ok if I made a separate CLI that USES this cli to add each person?  We could then link to it in the readme.  That would be the fastest way for me to contribute.

[2017-11-08 17:08] GantMan opened #62 "Duplicate entries when adding a contributor twice"
if I add the same user with the same contributions, shouldn't it just no op?

And then if I add an existing user with a new contribution, shouldn't it just modify that contributor's contributions array?  As far as for a CLI, it should be smart about the existing contents of the `.all-contributorsrc` correct?

[2017-11-08 17:08] kentcdodds commented on #49
Thanks for your interest @GantMan!

I'm definitely interested in making this fast for you to contribute, but I'm more interested in the "right" solution. I think the right solution would be to have this functionality built into this tool. So if you could please contribute to this project that would be great. I'm sure @machour would be happy to help answer any questions you have and I'll try to hel

[2017-11-08 17:09] kentcdodds commented on #62
If I'm not mistaken, that's what it does. If it doesn't do that already, then that's a bug.

[2017-11-08 17:20] GantMan commented on #49
Sounds good.   I see `var var var function` and my gut reaction is O NOOOOOO!!!!!!!
It's a little harder, but hard tasks make strong minds.  I'll give it a go!  No promises on timelines.

[2017-11-08 17:24] GantMan commented on #62
Mark as bug
![idempotent](https://user-images.githubusercontent.com/997157/32563625-5e5efd8e-c477-11e7-9887-6bd2716e9c61.gif)

[2017-11-08 17:41] machour commented on #62
@GantMan tried with 4.7.0, I can't reproduce what you're describing:

[code]

Can you provide the same test as me, adding a new user?

[2017-11-08 17:47] GantMan commented on #62
Yup!  Fortunately, the whole thing is open source.

I created a ticket to add `all-contributors-cli` here: https://github.com/infinitered/solidarity/issues/114

It was provided in a PR here: https://github.com/infinitered/solidarity/pull/119
Investigating his PR, I tested it out and found the issue.   All the code is available here:  https://github.com/mattathompson/solidarity/tree/all-contributor

[2017-11-08 17:56] machour commented on #62
@GantMan the project you're pointing at is using version 4.5.3. There were some changes that may have fixed this problem since then. Could you try with the latest version? ([4.7.0](https://github.com/jfmengels/all-contributors-cli/releases/tag/v4.7.0) released an hour ago)

And thank you 😊 🎉

[2017-11-08 18:04] GantMan commented on #62
@machour - my global is 4.7.0, I just checked.

I also, started a fresh branch on master and tried it out: ❌
![image](https://user-images.githubusercontent.com/997157/32565862-e5b5b598-c47c-11e7-9371-640389f02d4a.png)

[2017-11-08 18:06] machour commented on #62
`which all-contributors` from `~/Documents/Projects/playground/solidarity/` please.
I think that you are using the local (outdated) package here.

[2017-11-08 19:17] GantMan commented on #62
![image](https://user-images.githubusercontent.com/997157/32569484-dc69508a-c486-11e7-856e-c31cbefbd85d.png)

I also updated the package locally, and it was nope.  Does this work on your machine?  Are you using 4.7 from npm or a `npm link` version?   I'm stuck on how I can figure it out :(

[2017-11-08 19:25] kentcdodds commented on #62
Hmmm... We don't recommend installing this globally. And sadly we don't currently support a `--version` flag 😅

[2017-11-08 19:26] machour commented on #62
@GantMan I'm using 4.7.0 from npm on `gitpoint/git-point`, as well as `./cli.js` directly in this repository. Both work just fine.

As Kent mentioned, I think it would be better to get rid of your global package.

Then you may need to add some `console.log()` commands around here in your local package:
   https://github.com/jfmengels/all-contributors-cli/blob/master/lib/contributors/add.js#L44
to

[2017-11-08 19:27] kentcdodds commented on #62
Are you sure that your global version of `all-contributors` is the latest version? I suggest you uninstall it globally and just use the local installation. `./node_modules/.bin/all-contributors` should do it, or you might use `npx`, `yarn`, or [this method](https://www.youtube.com/watch?v=2WZ5iS_3Jgs) to run binaries of locally install packages.

[2017-11-08 19:47] GantMan commented on #62
Verified version 4.7
![image](https://user-images.githubusercontent.com/997157/32570753-be62d224-c48a-11e7-9dda-ccdfeee5760e.png)
Page 2
![image](https://user-images.githubusercontent.com/997157/32570778-ce4e5118-c48a-11e7-967d-fb53b67b9044.png)

Machine specs:
![image](https://user-images.githubusercontent.com/997157/32570811-f2637be6-c48a-11e7-9b00-6e1ce1e2909d.png)

[2017-11-08 20:02] GantMan commented on #62
I broke the code open and found the bug.  PR coming soon hopefully.

[2017-11-08 22:38] GantMan opened #65 "Add version flag"
Allow a user to pass `-- version` to get version of CLI

motivation:  helpful for tickets where version seems to be the issue.

[2017-11-08 23:50] revelt opened #67 "let's separate the MD table string generation functionality into a standalone library"
hi all,

Currently, if somebody wants to make an alternative tool that generates the same-looking contributors table, there's no way to automatically ensure that generated MD string (table) matches the "official" format of the contributors table.

Ideally, whatever CLI does - reading its configs, parsing existing table and so on should lead up to generating some sort of a data structure (object).

[2017-11-09 15:33] #65 closed

[2017-11-09 16:42] GantMan opened #68 "Add emoji for Report"
Some people add code coverage reports, cleanliness reports, and more.

Would be cool to have a report option.

[2017-11-09 16:48] kentcdodds commented on #68
Interesting! Hmmm... I've found those kinds of reports to be via automated tools. Can you give me an example? That'll help us decide what emoji to use and whether it can be made more or less generic.

[2017-11-09 16:55] GantMan commented on #68
Agreed it's automated.  Just like Tests are automated, but someone added those tests.   In my case, I have a contributor, who all he did was add code-coverage.   I'd like to give him an icon, but I don't know what fits best.

[2017-11-09 16:57] GantMan opened #69 "Report when Github rate limit is telling you < 10 left"
Was adding everyone to my project when suddenly I got rate limited.

https://api.github.com/rate_limit was at zero.

If I had known, I wouldn't have been using the command the same way.  I would have edited the file manually to keep my existing Github rate for important things like lookup.

I think a warning when you're down to your last 10 requests would be helpful.

[2017-11-09 16:58] kentcdodds commented on #68
Ah, gotcha, I would use 🚇 for `Infrastructure` 👍

[2017-11-09 16:58] GantMan commented on #68
Good to know!  Thanks!

[2017-11-09 16:58] #68 closed

[2017-11-09 16:59] kentcdodds commented on #69
Maybe it'd be even more useful if we could add more than one at a time and use the graphql API to get all the info at once?

[2017-11-09 17:25] machour commented on #69
GitHub API v4 (GraphQL) doesn't allow unauthenticated requests as far as I know.

I've been wondering about using `dotenv` to allow maintainer to declare an oAuth token for the REST API and read/use it for all GH requests.

Opinions?

[2017-11-09 17:27] kentcdodds commented on #69
Hmmm... This really should only be necessary one time, so what if we just had them set an environment variable?

Also, I wonder if the current API can be used to get multiple user info at once 🤔

[2017-11-09 17:41] machour commented on #69
It's possible but only for contributors:
  https://api.github.com/repos/gitpoint/git-point/contributors?per_page=100
or collaborators:
  https://api.github.com/repos/gitpoint/git-point/collaborators?per_page=100 (requires auth)

This is what I used to code the new `check` command. There's no current REST endpoint that receives an arbitrary multiple users logins and outputs their information (this

[2017-11-09 17:55] kentcdodds commented on #69
Feel free to make a decision without me on this one :+1:

[2017-11-09 22:40] blackxored opened #70 "Unknown error on adding contributors via expanded syntax"
For some reason, i'm getting exit code 1 (without an error, since I've added debugging and it properly returns `undefined` for `error` in the handler) when running:
[code]
On README.md
[code]

It successfully generates, adds to the contributors in .allcontributorsrc, and everything seems to work, but somehow I'm getting that exit code.

[2017-11-10 08:55] #62 closed

[2017-11-10 09:04] machour commented on #70
@blackxored just tested it on my side and the exit code for me is 0
[code]

Can you make sure you are using the latest version? (4.8.1 at the time of writing)

[2017-11-10 09:10] machour opened #71 "Wrong contribution type being added to .all-contributorsrc despite the error"
If I add a contributor with a non existant contribution type (`bar`) an error message is printed 👍 but the contribution is still being added to the `.all-contributorsrc` file 👎

[code]

What should happen is:
  * wrong contributions type being reported and not written in
  * if all contributions types were wrong, the user shouldn't be added in the file

[2017-11-10 09:24] machour commented on #67
Hi @revelt,

For me, the `all-contributors` specification isn't about the format of the table, it's about the known contributions type, and reminding maintainers to give credit where it's due. The specification is in another repo: [all-contributors](https://github.com/kentcdodds/all-contributors)

`all-contributors-cli` is just a tool that help keeping up with contributions, and that additionally

[2017-11-10 10:01] revelt commented on #67
@machour I understand your point. Yes, `all-contributors` spec is a different thing. I'm looking for a different spec. Spec for "default" table generation.

Do you agree that `all-contributors-cli` has a **a default preset** among its code, against which it generates the default table (if there are no customisations)? I'd like to tap this default preset (string generator function) in a shape of ex

[2017-11-10 10:19] machour commented on #67
@revelt I understand your point, but again, for me, there's nothing official about `all-contributors-cli`, nor about the default table it generates.
I personally don't like the idea of splitting it across different parts. It's a simple tool and should stay as simple as possible (this is my opinionated opinion).

Do you know of any other tool that generates a contributor list based on the spec? Wou

[2017-11-10 10:51] revelt commented on #67
I'm about to release one. Before I do release it I'd be keen to tap the "official" string generator so it's output is guaranteed to be compatible with this CLI, hence me pestering you guys here.

No. Having said that, I prefer to keep contributors in `package.json` and have no all-contributors config at all. I'm using `format-package` so I have no trouble to visually-grep through the package.json

[2017-11-10 12:13] blackxored commented on #70
Yes, on the latest version.
Pasting .all-contributorsrc:
[code]

[2017-11-10 14:41] machour commented on #70
Could you try setting commit to `false`? Let's see if it's a commit issue

[2017-11-10 16:34] kentcdodds commented on #67
Feel free to do whatever you like with the format and stuff. I don't care to much about the format. And I don't think it's worth trying to standardize.

Thanks for building a tool! Make sure to make a pull request to the spec repo when you're done! 👏

[2017-11-10 19:47] blackxored commented on #70
Yes, `commit` seems to be the issue, unsure why.

[2017-11-10 20:25] kentcdodds commented on #70
We're thinking of removing that feature. I never liked or used it. It seems to be fairly buggy in general.

[2017-11-17 18:23] kentcdodds opened #72 "add prettier-ignore comment"
prettier now supports formatting markdown. It's SOOO cool, but it can mess up the table a bit. We can disable it by adding `` right before the table, but if I do that today the comment will be removed by the re-generation. We need to have it added in via the template.

So the end result should look like:

[code]

Anyone wanna take this on?

Should update [here](https://github.com/jfmengels/all-con

[2017-11-22 18:24] #72 closed

[2017-12-05 01:24] M-ZubairAhmed commented on #71
can i take this one?

[2017-12-05 01:26] machour commented on #71
Of course :tada:
Let us know if you need any help!

[2017-12-05 01:29] M-ZubairAhmed opened #76 "Incorrect message on add-contributors add"
- `all-contributors-cli` version: 4.10.0
- `node` version:8.9.1
- `npm` (or `yarn`) version:1.3.2

Relevant code or config

[code]

What you did:
- tried adding new user with correct key and user name

What happened:
1. Added the info to .all-contributorsrc and readme
2. But shown wrong or misleading output
![image](https://user-images.githubusercontent.com/17708702/33585361-d6f8c2ee-d989-11e7-987

[2017-12-05 23:19] kentcdodds commented on #76
Interesting. Thanks for reporting this. If you could do a little digging that would be really helpful. Thanks!

[2017-12-06 09:57] M-ZubairAhmed commented on #76
sure. I am already on it

[2017-12-23 00:29] M-ZubairAhmed commented on #71
@machour sorry for keeping lagging on this for too long.
So i tried to reproduce this error, when we add foo bar it does gets added to `.all-contributorsrc` but not to `README.md` when you try to generate. Is this correct?

[2017-12-23 08:04] M-ZubairAhmed commented on #71
if user has input typo in one of the options as `add foo code,video,bar`. Should except bar others be added?

[2017-12-26 14:03] M-ZubairAhmed commented on #6
Can i take projectOwner error?

[2017-12-26 16:04] kentcdodds commented on #6
Feel free!

[2017-12-28 03:41] M-ZubairAhmed commented on #6
can someone explain me these two points

[2017-12-28 08:26] M-ZubairAhmed commented on #6
Sorry for bugging out guys . I just have free time at work these days, so though i should contribute to open source during my day job till my project starts

[2017-12-28 09:05] machour commented on #6
Hey @M-ZubairAhmed, no worries, but don't forget that we're on different timezones + we all got things to do outside OSS :)

*some files*: The files where the markdown is generated (README.md in this repo), but other files can be specified in the `files` entry of config.

*injection tag*: In order for the lib to know WHERE in the given files (*some files*) it should inject the generated markdown f

[2018-02-19 12:05] tigermarques opened #83 "Support other sources other than Github"
- `all-contributors-cli` version: 4.10.1
- `node` version: 8.9.4
- `npm` (or `yarn`) version: npm 5.5.1

What you did:

I am generating the Contributors section, but my users exist in a local gitlab installation rather than github.

Problem description:

I want to be able to add contributors using my gitlab local installation rather than github. Gitlab also has an api to retrieve user information,

[2018-02-19 12:25] machour commented on #83
Hey @tigermarques, this sounds like a cool feature indeed. An additional configuration option defaulting to `github` would be the way to go.

Feel free to open a PR for this feature!

[2018-02-19 14:30] tigermarques commented on #83
Pull request #84 created for this. Still WIP.

[2018-02-19 20:10] tigermarques commented on #83
Pull Request #84 ready for a first revision

[2018-02-23 14:14] machour commented on #83
Wonderfully done mate! 👌

[2018-02-23 14:14] #83 closed

[2018-02-23 14:20] kentcdodds commented on #83
Thanks! 👏

[2018-02-27 05:39] evilsoft commented on #76
If you are still looking into this.
I ran into the same thing and found it happened :corn:sistantly when I had malformed json in the `all-contributorssrc`. O my project it happened after the readme was generated during a rebase. So the readme looked a-ok. did not notice until I went to add another fine person to the list.

Hope this helps!!

node: 8.9.1
npm: 5.5.1
ac-cli: 4.11.0

[2018-02-27 05:47] evilsoft commented on #47
Well, to second this, what if for some reason, we defaulted to no link, BUT if there is an array in the array, then the first will be the type and the second would be a url to associated.

So for instance, I could have a section of videos or tuts or something like:

[code]

## Videos
### Ian Hofmann-Hicks Videos

The only issue is, how the heck to specify it on the command line.

[2018-02-28 01:27] machour commented on #76
Thank you for the feedback @evilsoft, definitely worth catching Json errors and bailing out properly

[2018-03-02 00:18] kentcdodds commented on #47
I'd love it if we could add a linking capability and the suggestion here looks perfect :+1:

I'd be happy to accept a PR for this :+1:

[2018-03-02 00:38] evilsoft commented on #47
if @jamesplease does not wanna grab It I would be more than happy too!!

[2018-03-02 00:43] evilsoft commented on #47
The only thing that is questionable or raise :eye: brows will be how to specify in command line, it would be best to not have the user edit this file if they do not have to IMO.

[2018-03-02 01:07] jamesplease commented on #47
Go for it @evilsoft !

[2018-03-19 08:26] lpatmo opened #86 "Error when running "npm run contributors:add -- username doc""
- `all-contributors-cli` version: ^4.11.1
- `node` version: 9.4.0
- `npm` (or `yarn`) version: 5.6.0

What you did:
I ran: `$ npm run contributors:add -- lpatmo doc`

This is after I'd installed the package, and had this in my git diff:
[code]

What happened:
The error message:

[code]

Problem description:
I got the above error after I tried to add a contributor, after installation.

Suggested so

[2018-03-19 20:02] kentcdodds commented on #86
Did you run the `init` command first? That's mentioned in the docs. Perhaps we could handle this error better and init automatically if you haven't already run the `init` command 🤔

[2018-03-19 20:51] lpatmo commented on #86
Sorry, I did run `npm init` beforehand, but I forgot to mention it above.

(I assume it is `npm init` and not simply `init`? Because:
[code]
)

I just ran `npm init` again, and tried `npm run contributors:add --lpatmo doc`, and the error I see in the log file is:
[code]

[2018-03-19 20:53] kentcdodds commented on #86
No, you want to run this:

[code]

Then try everything else.

[2018-03-19 21:03] lpatmo commented on #86
Thanks! Closing this issue now. :)

[2018-03-19 21:08] lpatmo commented on #86
Oh wait, reopening this issue to report the following:

[code]

The UI that I saw after running `npx all-contributors init` looked familiar, but I wrote it off. When I ran `npx all-contributors init` a few minutes ago without typing any responses into the prompts and ran `npm run contributors:add --lpatmo doc,code` afterwards, I saw the contributor populate in README.md. But when I tested this a s

[2018-03-19 21:20] lpatmo opened #87 "Saving a repo host URL different than "github.com" results in error when next attempting to add a new contributor"
all-contributors-cli version: ^4.11.1
node version: 9.4.0
npm (or yarn) version: 5.6.0

Steps I took:

1)
[code]
2)
[code]

However, when I hit "enter" for the `Where is the repository hosted?` question and then try adding a contributor, I'm able to add a contributor successfully:

[code]

I tried pasting in https://github.com/jfmengels/all-contributors-cli as the value for the `Where is the repos

[2018-03-19 21:21] kentcdodds commented on #87
Yes, we should probably change that question to be a list of options rather than a free form field. Would you like to [make a pull request](http://makeapullrequest.com) to make that happen?

[2018-03-19 21:22] lpatmo commented on #86
I've filed a new issue at https://github.com/jfmengels/all-contributors-cli/issues/87.

[2018-03-19 21:22] #86 closed

[2018-03-19 21:24] lpatmo commented on #87
Ah, so it's not meant to store the value of the Github repository, but to store values like `Github` or `Bitbucket`?

[2018-03-19 21:27] kentcdodds commented on #87
Yeah, it's supposed to be `github` or `gitlab`. Those are the supported hosts currently I believe.

[2018-03-19 21:30] lpatmo commented on #87
A meta question: do we need the "Where is the repository hosted" question still, if the "What is the repository type?" question is asking the same thing, and supports a choice of either GitHub or GitLab?

[2018-03-19 21:51] kentcdodds commented on #87
Honestly, I've kinda lost control of this project a bit and I don't quite know the answer to your question. I have very limited time to maintain this project. Maybe one of the other maintainers can answer.

[2018-03-20 08:37] machour commented on #87
Hi @lpatmo,

GitLab can be installed on your own server begin a custom URL, this is why we need that information.

I'll gladly merge a PR to make this clearer!

[2018-03-20 09:14] lpatmo commented on #87
Thanks @machour and @kentcdodds!

@machour: Can you clarify what option(s) need to be the choices under `"Where is the repository hosted"`?

[2018-03-21 09:33] machour commented on #87
This shouldn't be a select/choice item, but a manual input, as it is now.

Currently, if you select GitLab or GitHub in the previous question, the "Where is the repository hosted" is automatically filled:

<img width="517" alt="screen shot 2018-03-21 at 10 26 02 am" src="https://user-images.githubusercontent.com/304450/37702304-60b85b82-2cf2-11e8-9a69-9411c406a284.png">

The PR should just changed

[2018-03-29 16:35] endel opened #88 "Custom link for contribution categories"
Hi there,

I'd like to propose a feature when generating links for "ideas" contribution.
It would be handy to allow changing the link, without replacing the whole template.

Currently, the links for "ideas" are generated like this:

[code]

I'd like to customize it to link to GitHub Issues. As this can vary from project to project, maybe `all-contributors-cli` could support link templates, per con

[2018-03-29 16:44] kentcdodds commented on #88
Hi @endel! Thanks for the suggestion!

What do you think of the suggestion here: https://github.com/jfmengels/all-contributors-cli/issues/47

The problem with your specific suggestion is that it's a little pigeon holed into a certain convention. Whereas the suggestion in #47 is a little more generic.

I personally don't have a lot of time to dedicate to this I'm afraid :-/

[2018-04-10 22:02] chris-dura opened #89 "Self-hosted GitLab instance"
- `all-contributors-cli` version: `4.11.1`
- `node` version: `8.11.1`
- `npm` (or `yarn`) version: `5.8.0`

Relevant code or config

[code]

What you did:
I tried to add a contributor.
[code]

What happened:
I got this error:
[code]

Reproduction repository:
n/a since we have a private self-hosted gitlab instance...

Problem description:

Changing the `repoType`, `repoHost` and `username` to my pu

[2018-04-11 07:37] machour commented on #89
Hi @chris-dura. As far as I remember, the GitLab connector was only tested with the public GitLab.com setup, and authentication is not handled yet.

This definitely needs some more work. Would you be available to work on a PR for that?

[2018-04-11 16:39] chris-dura commented on #89
@machour I'll stick it in my wishlist and try to find some time, thanks for the response!

[2018-05-11 19:50] lognaturel opened #90 "Randomize order of generated contributor list"
**The problem**
Some projects have a lot of contributors. It's no fun to be at the very bottom of the list.

**The solution**
Allow a cli parameter to generate to turn on shuffling. This will give everyone a chance to shine at the top of the list at some point (probably).

I propose adding the optional "shuffled" keyword after generate. If this seems ok, I can submit a PR for it.

[2018-05-11 19:57] lognaturel opened #91 "Provide better support for organizations with multiple repos"
**The problem**
Some projects (e.g. http://github.com/opendatakit which I'd like to implement the spec for) are spread across multiple repos and spaces outside of Github (e.g. Transifex, Discourse forum, etc). The script assumes that it is generating a contributor list for the repository it is in and generates URLs that don't make sense in a multi-repo context. For example https://github.com/opend

[2018-05-15 19:33] kentcdodds commented on #91
Sounds perfect. Thanks @lognaturel!

[2018-05-15 19:34] kentcdodds commented on #90
I'm good with that :+1:

[2018-05-20 00:58] tyler-reitz commented on #61
I'd like to take a stab at this.

Should this live alongside: https://github.com/jfmengels/all-contributors-cli/blob/1562a379db19ba881c8d9f27b520f27262ce7c68/src/contributors/add.js#L28 or be broken off on it's own?

Also, I think this prompt https://github.com/jfmengels/all-contributors-cli/blob/1562a379db19ba881c8d9f27b520f27262ce7c68/src/cli.js#L133 will have to be updated

[2018-05-20 08:57] machour commented on #61
Hi @tyler-reitz and thank you for hopping in!

I think that the problems is in this function: https://github.com/jfmengels/all-contributors-cli/blob/1562a379db19ba881c8d9f27b520f27262ce7c68/src/contributors/add.js#L7-L16

Imagine we had ["doc", "bug"] as `existing` and we unchecked "bug", so `types` is ["doc"]
currently, by using concat(), we end up again with ["doc", "bug"]. The code needs to be

[2018-05-23 05:56] austintackaberry opened #92 "Getting "all-contributors: command not found" error"
- `all-contributors-cli` version: 4.11.1
- `node` version: 8.11.2
- `npm` (or `yarn`) version: 6.0.1

What you did:

Followed the readme to install, init, and then generate.

What happened:

[code]

Suggested solution:

I don't know what I'm doing, but `$ npx all-contributors generate` seemed to do the trick for me.

I opened this issue because I didn't see this error in any of the other issues an

[2018-05-23 06:34] austintackaberry commented on #92
Upon further review, it seems like `npx` allows you to use a cli tool that is installed locally, and you would need to install the tool globally if you wanted to omit the `npx` unless I am missing something.

If that is the case, should the docs be changed to reflect this?

[2018-05-23 13:04] kentcdodds commented on #92
I'm honestly not certain what you'd change about the docs for this, but sure, feel free to open a PR :)

[2018-05-23 16:32] austintackaberry commented on #92
Anywhere where the docs suggest using the `all-contributors` command in the command line (multiple places in the Usage section), it should be prefaced with `npx`, or am I wrong?

[2018-05-24 15:55] kentcdodds commented on #92
You might add a note that says:

I don't want to confuse people by including `npx` all over the place. Before we know it, everyone will include `npx` in their `package.json` scripts which is totally unnecessary. :)

[2018-05-24 17:38] austintackaberry commented on #92
Yeah, that makes sense. Thanks for everything you do with this! It is awesome for making your project open and inviting.

[2018-05-26 01:59] u3u opened #93 "all-contributors generate does not work"
- `all-contributors-cli` version: 4.11.1
- `node` version: 9.11.1
- `yarn` version: 1.6.0

Relevant code or config

[code]

What you did:

[code]

What happened:

Nothing happened

![image](https://user-images.githubusercontent.com/20062482/40571425-15954ab8-60cb-11e8-93c3-4a6cab3f25e3.png)

Reproduction repository:

https://github.com/MoePlayer/vue-aplayer

[2018-05-26 13:51] kentcdodds commented on #93
If anyone would like to make the documentation more clear on this point that'd be great 👍

[2018-05-27 00:38] tyler-reitz commented on #61
Where's the `options.url` coming from ? at https://github.com/jfmengels/all-contributors-cli/blob/1562a379db19ba881c8d9f27b520f27262ce7c68/src/contributors/add.js#L8  I don't see anywhere to add it via either the prompt or by passing argument directly via the cli.

[2018-05-30 11:49] M-ZubairAhmed commented on #6
This means that contributor's github does not exists?

[2018-05-31 07:29] xuchaoying commented on #89
same problem here

[2018-06-07 09:29] M-ZubairAhmed commented on #6
Do they both mean the same, github username of the user not found?

[2018-06-08 19:11] #71 closed

[2018-06-08 19:14] kentcdodds commented on #6
This would happen if I specify a contributor login and that user isn't found.

This would happen if I'm trying to add a contributor but don't specify a login.

I think....

[2018-06-08 20:47] hipstersmoothie opened #98 "Run Prettier on all files once"
The project should have all relevant files already prettier'd. This helps minimize the changes that have to be made by contributors.

This command should be all that's necassary.

[code]

[2018-06-08 23:09] M-ZubairAhmed commented on #6
@kentcdodds oh ok makes sense. Let me give it a stab

[2018-06-09 19:58] #98 closed

[2018-06-15 21:59] erdahuja opened #146 "Script doesn't work with and without nps and exits with 1"
https://www.dropbox.com/s/btvqq2cl0ediy21/Screenshot%202018-06-16%2003.28.21.png?dl=0

[2018-06-21 09:54] revelt commented on #67
An update.

After github selling us out, I moved all my libraries to Bitbucket. But it doesn't support HTML in readme's! This also means, we can't use Prettier ignore blocks and Prettier mangles both doctoc TOC and Contributor's tables.

I'll research ways to generate Bitbucket Contributors tables, but first need to complete the migration from Github.

Either way, now I believe in readme maintenan

[2018-06-21 09:54] #67 closed

[2018-06-22 15:15] #93 closed

[2018-06-24 16:45] chinesedfan commented on #70
@blackxored I guess the commit fails silently. Maybe #102 can help.

[2018-06-25 01:55] #48 closed

[2018-06-25 05:31] chinesedfan commented on #76
@M-ZubairAhmed I noticed that your console outputs `undefined`, which seems the same as #48. So maybe #102 has fixed it.

@evilsoft For invalid json, current codes have a try-catch arround the parsing logic.

[2018-06-25 14:35] kentcdodds commented on #76
I'll go ahead and say this is resolved. Please file a new issue if it's not.

[2018-06-25 14:35] #76 closed

[2018-07-15 05:06] speenzor commented on #87
Thank you for posting this. I also had this problem and was able to fix it by just hitting enter on the default answer. I'll create the PR to make it clearer.

[2018-07-31 03:00] xuchaoying opened #105 "Error: Cannot find module 'all-contributors-cli/cli'"
- `all-contributors-cli` version: latest
- `node` version: v10.6.0
- `npm` (or `yarn`) version: npm v6.2.0

What you did:

I was trying to commit some code related to PR (#95), and the precommit script reported an error.  Then I tried `npm run add-contributor`, got same error. Any clue?

What happened:

![image](https://user-images.githubusercontent.com/8073251/43434937-5cdc7d38-94b0-11e8-895f-add

[2018-07-31 04:10] chinesedfan commented on #105
It's due to `kcd-scripts` is out-of-date. Check https://github.com/kentcdodds/kcd-scripts/releases/tag/v0.30.0.

[2018-07-31 12:56] xuchaoying commented on #105
it works now, thx @chinesedfan

[2018-07-31 12:56] #105 closed

[2018-07-31 23:44] chris-dura opened #106 "How to provide custom `types`?"
- `all-contributors-cli` version: v5.3.0
- `node` version: v8.11.3
- `npm` (or `yarn`) version: 6.2.0

Relevant code or config

[code]

What you did:

Tried to add a custom contribution type.

What happened:

Nothing.

Reproduction repository:

Problem description:

I would like to use my own custom `types` of contributions, and the docs indicate that I should be able to use the [`types` config](h

[2018-08-01 04:36] chinesedfan commented on #106
Hi @chris-dura, because your `..all-contributorsrc` is not a valid JSON, which includes a lot of errors. And of course, this tool didn't give right tips.

[code]

[2018-08-01 19:36] chris-dura commented on #106
Thanks, my IDE wasn't recognizing `.all-contributorsrc` as a JSON file, so I didn't get any lint errors... 😖

[code]

[2018-08-01 19:36] #106 closed

[2018-08-02 21:51] #89 closed

[2018-09-07 08:53] xuchaoying opened #109 "enable custom commit message"
- `all-contributors-cli` version: latest
- `node` version: latest
- `npm` (or `yarn`) version: latest

Relevant code or config

[code]

What you did: add or update  a contributor

What happened: commintlint report an error 'cause the commit message not match some rules.

Reproduction repository: -

Problem description: there's no config to replace the default commit message.

Suggested solution: a

[2018-09-07 14:04] kentcdodds commented on #109
Fine with me 👍

[2018-10-06 03:50] F1LT3R opened #110 "No contributors generated - (check shows contributors)"
- `all-contributors-cli` version: 5.4.0
- `node` version: v10.10.0
- `npm` (or `yarn`) version: 6.4.1

What you did:

[code]

What happened:

- No contributors added to `.all-contributorsrc`
- No contributors added to README.md

The README section looks like this:

[code]

The `.all-contributorsrc` looks like this:

[code]

Problem description:

All-Contributors not working? 🤷‍♂️

Suggested soluti

[2018-10-07 02:58] chinesedfan commented on #110
@F1LT3R I think you misunderstand usage of the command `generate`. It only generates content to README.md according to your config file, instead of fetching contributors automatically. What you really want is #49.

[2018-10-11 14:00] GantMan opened #111 "New Category: maintenance"
Love the tool.  I was thinking it might be great if we could have a new category for those who simply come along and update dependencies.  They actually don't add code, but they help dependencies, and they maintain the "freshness" of a repo.

I've had a few come do that.

[2018-10-11 14:48] kentcdodds commented on #111
Sure 👍

[2018-10-11 17:00] GantMan commented on #111
:nut_and_bolt: Thoughts on this emoji for maintenance?

[2018-10-11 17:00] GantMan commented on #111
I'll start the PR soon.  I have a talk to give next week.

Can this ticket be listed as a Hacktoberfest item? https://hacktoberfest.digitalocean.com/

[2018-10-11 17:14] kentcdodds commented on #111
I don't think it has to be listed for you to get credit for the PR for hacktoberfest :)

[2018-10-11 17:14] kentcdodds commented on #111
And that emoji is perfect

[2018-10-17 14:02] sli1989 opened #112 "a few questions about command"
- `all-contributors-cli` version: 5.4.0
- `node` version: v8.12.0
- `npm` (or `yarn`) version: 6.4.1

Relevant code or config

[code]

What you did:

[code]

What happened:

README.md and `.all-contributorsrc` are updated fine. but the bash command can't exit.
I must `ctrl+c` to exit to add other contributor.
Is it my command mistake?

and there is no difference after running  `npm run contributor

[2018-10-18 07:59] chinesedfan commented on #112
I must ctrl+c to exit to add other contributor.

@sli1989 Sorry, I didn't reproduce the problem. Can you share the sample repository?

In fact, `npm run contributors:add jfmengels doc` modifies `.all-contributorsrc`and generates changes to files. If modified `.all-contributorsrc` manually, you can use `npm run contributors:generate`.

[2018-10-18 08:05] sli1989 commented on #112
oh, thanks. The live demo is here: https://github.com/sli1989/hexo-theme-next/tree/contributors.

[2018-10-18 08:59] chinesedfan commented on #112
@sli1989 Still didn't find anything wrong. Can you try `npm run contributors:add jfmengels doc --verbose` and check where it hangs at?

[2018-10-18 09:57] sli1989 commented on #112
just stay like this, no exit out.

[code]

[2018-10-18 10:50] KirstieJane commented on #92
Hi - I found this thread really useful so I've put in a little pull request (#114) with the suggested text from @kentcdodds in https://github.com/jfmengels/all-contributors-cli/issues/92#issuecomment-391766876 above.

Totally fine to disregard or for any edits - @austintackaberry if you'd have put it in a different place just let me know!

[2018-10-18 11:10] chinesedfan commented on #112
Hmm, Windows OS. Did you install `git` in your cmd? How about deleting `commit: true` in `.all-contributorsrc`?

[2018-10-18 11:16] sli1989 commented on #112
I don't know this meaning. I use the Git Bash.

It makes no difference.

[2018-10-18 11:41] chinesedfan commented on #112
I'm afraid I can't help you more. Maybe you can debug from `node_modules/all-contributors-cli/dist/cli.js` or wait for others' help.

[2018-10-18 11:43] sli1989 commented on #112
thanks anyway. 🍺

[2018-10-18 15:59] kentcdodds commented on #92
Thanks to @KirstieJane for the PR!

[2018-10-18 15:59] #92 closed

[2018-10-20 02:20] matbrgz opened #115 "Internacionalization"
As we started the conversation in https://github.com/kentcdodds/all-contributors/issues/80, we can implement a way to redirect to the correct Docs when mouse in the icon.

[2018-10-22 13:17] F1LT3R commented on #110
Thanks, I will check that out.

[2018-10-29 00:37] mrchief opened #117 "Fetch or auto-discover contributors"
- `all-contributors-cli` version: 5.4.1

Problem description:

Currently, `add` let's you manually add contributors. However, for existing projects, it may be tedious and error prone to follow this manual approach; thereby creating a high barrier of entry for anyone who wants to start implementing the spec.

Suggested solution:

It'd be great to have a way of auto-discovering this information. E.g

[2018-11-06 21:45] kentcdodds commented on #117
Unless I'm mistaken, you can use [`check`](https://github.com/jfmengels/all-contributors-cli#check-for-missing-contributors) for this

[2018-11-07 01:04] mrchief commented on #117
Can check discover the ones not listed in the rc file?

[2018-11-21 01:39] GustavoRPS opened #118 "Command Add: Not Found"
- `all-contributors-cli` version: 5.4.1
- `node` version: 8.10.0
- `npm` (or `yarn`) version: 6.4.0

Relevant code or config

`.all-contributorsrc`
[code]

`README.md`
[code]

What you did:

0. `cd` to repo directory
1. `npm install -g all-contributors-cli`
2. `all-contributors init` and set all default values
3. `all-contributors add gustavorps code`

What happened:

This stdout:
`Not Found`

Pro

[2018-11-28 21:46] chris-dura opened #119 "Emoji links are not accessible on GitLab"
- `all-contributors-cli` version: `5.4.1`
- `node` version: `v8.12.0`
- `npm` (or `yarn`) version: `6.4.1`

Relevant code or config

**GitLab**
[code]
[code]
**GitHub**
[code]
[code]

What you did:

Navigated my README.md on GitLab using VoiceOver on Mac.

What happened:

When focused on the emoji links, the SR announces the links with the title of the emoji, instead of the actual contribution typ

[2018-11-28 21:48] kentcdodds commented on #119
Yeah, it looks like there's not much we can do. Sorry about that ☹️

Hopefully gitlab can fix it!

[2018-11-28 21:48] #119 closed

[2018-12-05 15:34] MatheusRV commented on #118
Same Here.

[code]

[code]

[2018-12-05 15:43] MatheusRV commented on #118
You could fix removing your repo from  `"repoHost": "https://github.com/ArgoCrew/hematopy",` it would be `"repoHost": "https://github.com",`

[2018-12-21 21:43] simbas opened #120 "Using a custom badge template breaks badge replacement"
- `all-contributors-cli` version: 5.4.1
- `node` version: v11.4.0
- `npm` (or `yarn`) version: 6.4.1

Relevant code or config

[code]

What you did:
[code]

What happened:
The badge regex `/\[!\[All Contributors\]\([a-zA-Z0-9\-./_:?=]+\)\]\(#\w+\)/;` is not working with custom badge template.

Suggested solution:
- badge regex as a property of the .all-contributorsrc file
- use the badge template

[2018-12-23 02:51] jakebolam opened #121 "GitHub API rate limit exceeded for xxx"
- `all-contributors-cli` version: 5.4.1
- `node` version: v8.11.3
- `npm` (or `yarn`) version: yarn: 1.7.0

Relevant code or config:
n/a

What you did:
Ran `yarn all-contributors check`

What happened:
Crashed:
<img width="731" alt="screen shot 2018-12-23 at 10 48 42 am" src="https://user-images.githubusercontent.com/3534236/50380369-5ad5b600-06a0-11e9-8fa9-2161dcd4775c.png">

Reproduction reposit

[2018-12-23 03:02] jakebolam commented on #121
I put together an example of the changes required: https://github.com/jfmengels/all-contributors-cli/pull/122

[2018-12-23 03:06] jakebolam commented on #121
FYI This is cropping up on a number of projects. It also appears to be affecting all-contributors-cli, when a contributor was trying to add himself here: https://github.com/jfmengels/all-contributors-cli/pull/97

[2018-12-28 15:35] #121 closed

[2019-01-02 05:02] jakebolam commented on #120
I'd feel happy with either solution. @simbas want to do what you think is best and put up a PR on the project?

[2019-01-04 12:55] simbas commented on #120
Hello @jakebolam, thank you for your reply.

Maybe there is a third solution which is using tags to find the badge:
[code]
What do you think about that?

[2019-01-04 16:03] kentcdodds opened #129 "Call for maintainers"
Hey folks,

I'm drowning in GitHub notification emails and need to lighten my load. So with heavy heart I'm picking a few projects to detach myself from and unfortunately this is one of them.

I would like to hand this project off to someone who's _already_ been contributing to the project (I'd like to avoid another incident like [this](https://snyk.io/blog/malicious-code-found-in-npm-package-even

[2019-01-05 08:04] jakebolam commented on #120
@simbas sounds like a great idea :)

[2019-01-14 12:06] Berkmann18 commented on #111
Wouldn't :construction_worker: or :construction: be more appropriate for "maintenance"?

[2019-01-14 12:19] Berkmann18 opened #137 "Accessibility issue"
- `all-contributors-cli` version: 5.7.0
- `node` version: 11.0.0
- `npm` (or `yarn`) version: 6.5.0

Relevant code or config

N/A

What you did:
Generated the contributors list

What happened:

It generated the list as expected.

Reproduction repository:

`all-contributors generate`

Problem description:

When the contributors table is generated, the images (read `<img .../>` tags) are missing an

[2019-01-14 12:21] Berkmann18 commented on #137
It seems that there are quite a few failing tests that aren't related to this PR so I'll try fixing them on another branch and then rebasing the one for the PR to make sure the build succeeds.

[2019-01-14 16:23] #137 closed

[2019-01-14 16:35] jakebolam commented on #129
@AllContributorsBot please add tbenning for design

[2019-01-14 17:05] GantMan commented on #111
I like the construction worker hat 👷 .   @Berkmann18 - It's been on my todo list but I have 2 major presentations this month.  If you can finish it in January, it's all yours.  If you still haven't done it by February, I'll come back and knock it out.

So feel free!

[2019-01-15 10:55] Berkmann18 commented on #22
@tunnckoCore

Have you found said package(s) that would handle that?

[2019-01-15 10:56] Berkmann18 commented on #109
@xuchaoying Would you want to submit a PR for this?

[2019-01-15 11:58] tunnckoCore commented on #22
Mmm don't know for what I was talking about but probably `cosmiconfig` and [@tunnckocore/pretty-config](https://npmjs.com/package/@tunnckocore/pretty-config) would work?

[2019-01-15 12:56] Berkmann18 commented on #22
@tunnckoCore I've had a look at both (the latter having no documentation) and was wondering if you wanted to submit a PR with either package?

[2019-01-15 13:11] jakebolam commented on #22
If we bring this back, it will make it difficult to support the bot in the same way (many more API requests searching and parsing files looking for the config, could actually be significant overhead)

[2019-01-15 13:15] jakebolam commented on #111
I like the construction worker but don't think we should use a gender specific emoji. See https://github.com/all-contributors/all-contributors/pull/49

[2019-01-15 14:20] Berkmann18 commented on #111
@jakebolam In this case using 🚧 or perhaps 🏗 would prevent that gender association?

[2019-01-15 15:35] jakebolam commented on #111
Looks good to me. Happy with either.

[2019-01-15 15:45] Berkmann18 commented on #111
Okay, I'll use the former (since it's easier to understand).

[2019-01-15 16:03] xuchaoying commented on #109
ok, I'll submit a PR later @Berkmann18

[2019-01-15 18:05] tunnckoCore commented on #22
@jakebolam totally agree. But we can at least support only those two - usual config and field in package.json, so not so much requests :)

[2019-01-15 20:35] Berkmann18 commented on #117
@mrchief `check` will compare what you have in your `.all-contributorsrc` file with the list of contributors on the repo and then will tell you who's missing.

As far as I'm aware there's no way to add multiple people in one go (@jakebolam ?) but it's an interesting feature to have.

[2019-01-15 20:37] Berkmann18 commented on #115
Which icon?

[2019-01-15 20:45] mrchief commented on #117
@Berkmann18 Right, that was my understanding too. Adding multiple people (either manually or via discovery) lowers the bar of entry for existing packages. In a fairly active repo, adding everyone one by one manually can be daunting (first time setup).

[2019-01-15 20:48] Berkmann18 commented on #110
@F1LT3R The reason why you didn't see anyone on the list is that you didn't run `all-contributors add ...` for each contributor.
And `all-contributors check` only shows the contributors that aren't listed in `.all-contributorsrc`.
If you have any further questions/issues, feel free to re-open this or a new one.

[2019-01-15 20:48] #110 closed

[2019-01-15 20:54] Berkmann18 commented on #90
@lognaturel Feel free to open a PR for that if you would like to contribute.

[2019-01-15 21:01] Berkmann18 commented on #117
@mrchief It's perfectly understandable, would you like to submit a PR for this?

[2019-01-15 21:11] mrchief commented on #117
Sure I'll see what I can do. Progress may be a bit slow as I'm swamped at work right now.

[2019-01-15 23:54] Berkmann18 commented on #117
@mrchief No problem.

[2019-01-16 00:08] mrchief commented on #117
@Berkmann18 Any preference on how to structure this? I was thinking either:

 - add new methods `fetchCodeContributors` and `fetchBugContributors` to  `repo/github.js`
 - or add a new folder, say, `discover` and then add the new methods in `github.js` (and later gitlab.js`).

And then surface them like other commands. Sound about right?

[2019-01-16 00:19] mrchief commented on #117
Also, I see that you already have `getContributors` which is used in `check` flow. I think this is what @kentcdodds was alluding to?

If so, I can use it in the new `discover` command to get the list of code committers. And then all that is left is to fetch issue list, filter out PR authors and you'll have your `bug` contributors.

Am I missing anything?

[2019-01-16 01:16] #129 closed

[2019-01-16 01:56] jakebolam commented on #22
How strongly are we looking to support this?

My thinking is:
- I agree, generally having an option to avoid root pollution is good
- using a key in package JSON is quickly going to blow up the package.json to many 100s, 1000s of lines (which is also bad)
- splitting the config and contributor's doesn't solve the problem of polluting the root, and actually makes it harder to understand
- I feel li

[2019-01-16 02:02] jakebolam commented on #117
Any ideas on how the flow would work for the bot? https://github.com/all-contributors/all-contributors-bot

[2019-01-16 02:53] mrchief commented on #117
@jakebolam Yeah, I'm well aware of rate limiting as I have run into it in the past. I'm using the same approach as `getContributorsPage` so I guess that should handle it. In fact, it's almost the same function for the most part (and so there is an opportunity to DRY it up a bit). We can discuss more after I push my code, it'll be easier that way.

As far as the bot goes, I think it can leverage th

[2019-01-16 03:02] mrchief commented on #69
Asking users to set an env var or passing a token at the CLI are common practices so it shouldn't be a problem.

(GH contributor = at least one commit to the repo.)
We would have no way to know what was the commit about, so we would be adding code for everyone here, and the maintainer would have to sort that off manually afterward.

My PR for #117 would handle this issue as it'd know who's a code

[2019-01-16 04:56] jakebolam commented on #117
Sounds good to me!

Yes that's a great idea for the bot 👍

Definitely challenging to auto-setup for **all** contributors. But this would be a great base where projects can start from and branch out into.

[2019-01-16 11:15] #111 closed

[2019-01-16 12:03] Berkmann18 commented on #117
@mrchief >or add a new folder, say, discover and then add the new methods in github.js (and later gitlab.js`)
I think that would be better but I'm open to the other option.

@jakebolam We could always try this out on the CLI for packages with existing contributors and when it works fine, the bot could get this functionality so we could add this in a regression style (considering the bot might have

[2019-01-16 12:05] Berkmann18 commented on #146
@erdahuja Thanks for reporting the issue.
Both dropbox link resolve into a 404 error. Have you used the _shared links_?

[2019-01-16 12:45] Berkmann18 commented on #69
@mrchief For things like `doc`, `test` and `design`, there should be a way to distinguish those from `code` but then that's something we could tackle down the line once your PR is in place and works for `bug` and `code`.

What I mean by that is that, say the CLI program (and later on the bot itself), knows how to recognise code contributors and bug reporters. It will be able to classify like [this

[2019-01-16 12:56] Berkmann18 commented on #22
@jakebolam I think allowing the config and contributors list (which as you rightly said would be less maintainable if separated) **as long as** it doesn't exceed a certain number of contributors (e.g: 50) unless it does allow it while informing/suggesting the user that having the setting in `.all-contributorsrc` would preferable.

[2019-01-16 13:55] Berkmann18 commented on #25
@fforres Are you still planning on working on the PR?

[2019-01-16 13:58] Berkmann18 commented on #49
The issue #117 encompasses this and @mrchief proposed to help on that.

[2019-01-16 13:58] #49 closed

[2019-01-16 15:50] mrchief commented on #69
Agreed.

Guess the cli can run some heuristics to detect changes to documentation (like `.md`, `.txt` etc. files or docs folder) and so on maybe? Anyway, that's down the line for sure.

[2019-01-16 16:48] Berkmann18 commented on #69
@mrchief Yes, it could. I'm not that familiar with that part of GH's API but there's surely a way to see information about commits (e.g: which files were modified or/and what were the modifications).

[2019-01-16 17:57] Berkmann18 commented on #115
What do you suggest to fix that?

[2019-01-16 18:33] mrchief commented on #69
@Berkmann18 Yes there is. It's just that heuristics-based scanning is like a rabbit hole :)

[2019-01-17 17:22] tunnckoCore commented on #22
@jakebolam agree. Both are not so good. But this will be the choice of user - what he wants to pollute more.

That's too big too.

But anyway.

Yup. It's up to you and the users that use it more, I just have it in few places anyway. I'm not so strong about that :)

[2019-01-17 17:30] Berkmann18 commented on #22
50 was an exaggerated example, 20 would be personally the max I would go for that but you got the point.

[2019-01-18 16:23] Berkmann18 commented on #70
@blackxored Does this still happen?

[2019-01-18 17:17] MatheusRV commented on #115
No idea, maybe a localization on .all-contributorsrc?

[2019-01-18 17:25] Berkmann18 commented on #115
Thoughts @sinchang @jakebolam ?

[2019-01-18 19:56] mrchief commented on #117
@Berkmann18, that was my first approach too. But in that case, I see a lot of code duplication between different files (basically request setup and paging logic will be duped).

I settled on `repo/github.js` as it felt that should be single place to do anything with the repo. In future, it could be refactored to be its own folder with different files (for various API endpoints) and all. Just think

[2019-01-19 00:00] Berkmann18 commented on #117
That can be dealt with refactoring and a well-structured codebase so it shouldn't be an issue.

[2019-01-21 05:12] githubsaturn opened #152 "all-contributors generate"
- `all-contributors-cli` version: 5.10.2
- `node` version: v10.15.0
- `npm` (or `yarn`) version: 6.4.1

Isn't `all-contributors generate` supposed to generate the list of contributors automatically?

[code]

What you did:

Ran the script above and I was expecting that contributors are automatically added to README.md after running those commands. However, the `npx all-contributors generate` just e

[2019-01-21 11:47] jakebolam commented on #152
@githubsaturn (sorry for the accidental close, on my phone)

Generate will generate the list of contributors based on the `.all-contributorsrc` file. (PRs welcome to make the docs clearer on this)

`init` is intended for new projects, but does not automatically fetch the list of contributors (yet).

If your interested in contributing to an auto-generated/fetch feature there is some discussion in #

[2019-01-21 11:50] jakebolam commented on #152
Just curious (to help us strive to continue to build better tooling). Did you by chance [come across the new bot?](HTTPS://GitHub.com/all-contributors/all-contributors-bot) Any reason for choosing the CLI over the bot?

[2019-01-22 04:14] githubsaturn commented on #152
Exactly because of issues like this one. I generally don't trust a bot to come and make changes for me unless it's a very well known bot. As a rule of thumb, I'd like to inspect what is being done closely.

[2019-01-22 04:16] githubsaturn commented on #152
PS: I close this issue. As it's not a bug. It's working as intended.

I was under the impression that the premise of this project is to autogenerate the contributor list for you - similar to Open Collective. See this one for example: https://github.com/parcel-bundler/parcel#contributors

[2019-01-22 04:16] #152 closed

[2019-01-22 13:03] jakebolam commented on #152
Fair enough. The entire [source code for the bot](https://github.com/all-contributors/all-contributors-bot/tree/master/src) (as well as infrastructure etc) is all completely open source.

[2019-01-22 13:06] jakebolam commented on #152
Oh yeah, that makes sense. We've held off for a while on this feature, as all-contributors is intended to recognise all contributors ✨ not just those who code. We understand there is a barrier of entry on existing projects, and will hopefully have something in the future to help automate this.

[2019-01-22 18:07] jakebolam commented on #115
I'm for it. @MatheusRV are you interested in adding this?

[2019-01-25 14:44] Berkmann18 commented on #88
@endel Would you like to submit a PR for this?

[2019-01-25 14:45] Berkmann18 commented on #87
@spencercorwin How's the PR going?

[2019-01-26 15:55] jakebolam opened #336 "Add link to bot in projects using all contributors"
**Describe the solution you'd like**
We want to gain more widespread adoption. An easy way to do this is have project's link back/credit us when using the bot. We could add a link under the all contributors table to the bot.

Something like

Or

[2019-01-27 00:59] spencercorwin commented on #87
My PR was accepted Jul 16, 2018. It's PR #103
https://github.com/all-contributors/all-contributors-cli/pull/103

[2019-01-27 01:03] Berkmann18 commented on #87
Okay, in this case, this issue is resolved.

[2019-01-27 01:03] #87 closed

[2019-01-27 16:25] jakebolam opened #154 "Switch table generation to HTML"
Been looking to improve the look of the table. Indirectly as part of other tickets (https://github.com/all-contributors/all-contributors-bot/issues/101)

Is there any strong reason for staying with markdown? Or could we switch the table generation over to HTML (in a breaking_change release) ?

## Reasons for switching to HTML:
- Improving the table layout on all-screens/devices
- Additional custom

[2019-01-27 18:34] kentcdodds commented on #154
Happy to see it improved. Either way works.

[2019-01-28 03:37] jakebolam opened #324 "Custom types don't work with the bot"
**Describe the bug**
The configuration mentions custom types but the bot doesn't support it.

**Expected behavior**
Behaviour should match the documentation

[2019-01-29 14:47] Berkmann18 commented on #154
I'll give this a go and see what I get.

[2019-02-06 18:37] #154 closed

[2019-02-06 18:44] kentcdodds opened #161 "Table layout shows images squished on npm"
For example: https://www.npmjs.com/package/all-contributors-cli

![image](https://user-images.githubusercontent.com/1500684/52365307-70aafa80-2a04-11e9-8fa8-f14a6da020cc.png)

Would there be a way to make sure the aspect ratio remains the same?

[2019-02-06 19:03] Berkmann18 commented on #161
There are ways to do that but I'm not sure if using things like `max-width: ...; max-height: ..., width: auto; height: auto` or `object-fit: contain` would help considering that's it's tricky to get the CSS right in GH Markdown.
I haven't tried any approaches in this context (yet) but will have a go (unless someone else goes for it) tomorrow when I'll get the time.

[2019-02-06 19:11] jakebolam commented on #161
For refrence: (previous table)
https://www.npmjs.com/package/all-contributors-cli/v/5.11.0
<img width="882" alt="screen shot 2019-02-06 at 9 11 10 am" src="https://user-images.githubusercontent.com/3534236/52367035-33883d80-29ef-11e9-8854-a39e44854565.png">

[2019-02-06 19:13] jakebolam commented on #161
Contents inside cells are not centered anymore either

[2019-02-06 19:15] jakebolam commented on #161
Thoughts on a rollback? I feel that given the major version increment, we should be safe to roll-forward with a fix.

For future reference, we may want to consider 'beta' releases for big changes.

[2019-02-06 19:17] Berkmann18 commented on #161
@jakebolam I'm okay with a rollback and for _beta_ releases.

[2019-02-06 19:18] kentcdodds commented on #161
I don't think we need to rollback for this personally.

[2019-02-07 03:45] jakebolam commented on #161
This is due to the height tag we added. I'm going to remove this change.

TLDR: npm isn't respecting the width attribute, it shrinks the width. But the height is still respected.

[2019-02-07 03:48] jakebolam opened #162 "Alternate row colour on table (white, light-purple)"
Alternate row-colour on the table (see image).

Note: We can't use `<style>` tags in markdown, we may need to use JS and change each row manually.

@tbenning comments:

![pasted_image_at_2019-02-06__7_26_pm](https://user-images.githubusercontent.com/3534236/52389353-373fb280-2a37-11e9-81c7-ce25e23fa787.png)

[2019-02-07 03:59] kentcdodds commented on #161
Weeeird!

[2019-02-07 04:00] jakebolam commented on #161
@Berkmann18 had some time this afternoon and got a fix up: https://github.com/all-contributors/all-contributors-cli/pull/164/files

[2019-02-07 08:27] Berkmann18 commented on #162
Bear in mind that inline CSS is also [filtered out](https://github.com/jch/html-pipeline/blob/master/lib/html/pipeline/sanitization_filter.rb) so unless I missed an approach, using HTML attributes are the only way to get around this problem.

[2019-02-08 15:36] matbrgz opened #166 "Bots always on last position"
On contributor table bot must always be at last positions.

[2019-02-08 16:20] Berkmann18 commented on #166
Would that be for _all_ bots or just the All Contributors one?

[2019-02-08 17:03] MatheusRV commented on #166
All bots i guess.

[2019-02-08 17:06] Berkmann18 commented on #166
I'm okay with this.
@all-contributors/core Thoughts?

[2019-02-08 17:07] Berkmann18 commented on #166
I'm okay with this.
@jakebolam @sinchang @tbenning Thoughts on that?

[2019-02-08 17:29] jakebolam commented on #166
I'm open to it.

@MatheusRV what's the motivation behind this?

[2019-02-08 18:38] #161 closed

[2019-02-09 12:03] MatheusRV commented on #166
Just cosmetic for valorizate user not bots.

[2019-02-12 18:41] jakebolam commented on #166
Yep. I wonder how we will enforce this?

One of the benefits right now is we don't manage order, anyone can change the array how they want and the readme file will reflect this. Forcing bots to be last would break this behaviour.

Some bots also don't report themselves as bots, and some usernames have the keyword 'bot' in it, how would we distinguish between these?

[2019-02-18 15:07] jakebolam commented on #120
Similar issue: https://github.com/codingblocks/qit.cloud/pull/307

[2019-02-19 11:21] Berkmann18 commented on #166
@jakebolam Perhaps, having that as a *suggestion* instead of a rule so it keeps the order to whoever has control over it within a repo that uses AC.

I was going to suggest, looking for an undefined/null profile URL but some bots do have one (e.g: `sentinel-bot`, `codacy-bot`).

[2019-02-19 11:22] Berkmann18 commented on #146
@erdahuja Friendly ping.

[2019-02-22 17:25] erdahuja commented on #146
@Berkmann18 Hi, sorry for not following the thread. i always double check the links and they work because they are auto generated. Not sure why they aren't working now. I'll retry and get back to you

[2019-02-22 17:29] Berkmann18 commented on #146
Okay.

[2019-02-22 17:50] erdahuja commented on #146
It works now, we can close this issue. Thanks for caring about it :)

[2019-02-22 17:50] #146 closed

[2019-02-22 17:51] Berkmann18 commented on #146
Superb 😄, I'm glad it's resolved.

[2019-02-22 17:54] erdahuja commented on #6
What's a good starting point for these error? I'd like to take one.

[2019-02-22 18:06] erdahuja opened #169 "On adding non existent github user name, error shown is not descriptive."
- `all-contributors-cli` version:
- `node` version:
- `npm` (or `yarn`) version:

Relevant code or config

[code]

What you did:

What happened:

Reproduction repository:

Problem description:

Suggested solution:

[2019-02-22 18:06] erdahuja opened #170 "On adding non existent github user name, error shown is not descriptive."
- `all-contributors-cli` version:
- `node` version:
- `npm` (or `yarn`) version:

Relevant code or config

[code]

What you did:
added non github username  contributor.

What happened:

![image](https://user-images.githubusercontent.com/15168716/53261692-b05b2d00-36fa-11e9-9bfa-d942d1cc638f.png)

Reproduction repository:
Simply run cli tool "yarn run all-contributors" and answer question 1 with wr

[2019-02-22 18:08] #169 closed

[2019-02-22 18:09] erdahuja commented on #169
I accidently created the duplicated issue by pressing Return twice.

[2019-02-22 19:36] Berkmann18 commented on #170
Thanks for reporting that, what error message would you expect in the above scenario?
Would you mind opening a PR?

[2019-02-22 19:40] Berkmann18 commented on #6
@erdahuja Well, have a look at how these errors are currently handled and see if you can improve them in a way that (as @jfmengels said in the OP) it shows a helpful and meaningful error and that it does the appropriate action (e.g: quiting or/and fixing).

[2019-02-23 04:15] erdahuja commented on #170
Ok i can, what's a good starting point for adding these.

[2019-02-23 04:33] erdahuja commented on #170
I checked the code throws a common error for not found cases. This is very confusing for end users and non informative. let me try adding some value here.

[2019-02-23 06:17] erdahuja commented on #6
@Berkmann18 @kentcdodds i am unable add PR for it. i have done two check list points. Can you please consider adding me as a user? Or a PR from fork would work.

[2019-02-23 06:18] erdahuja commented on #170
@Berkmann18 I have fixed it, how to add a PR? i dont have permissions.

My email id - er.d.ahuja@gmail.com
github.com/erdahuja

[2019-02-23 06:23] sinchang commented on #170
@erdahuja you can see this tutorial http://makeapullrequest.com/

[2019-02-23 08:18] M-ZubairAhmed commented on #6
@erdahuja projectName and projectOwner is already done and merged at https://github.com/all-contributors/all-contributors-cli/pull/80
@jfmengels can you please edit the https://github.com/all-contributors/all-contributors-cli/issues/6#issue-138846112 to update whats done

[2019-02-23 13:53] Berkmann18 commented on #6
@erdahuja You should be able to submit a PR, which you seem to have done.

[2019-02-25 05:29] erdahuja commented on #6
Update:

PR for these is submitted. Next I am doing :

@jfmengels Please update the checklist comment.

[2019-02-27 00:52] jakebolam commented on #6
Thanks for doing this! Updated description!

[2019-02-27 16:56] Berkmann18 commented on #117
@mrchief You can still get access to the ones you read you know?
Anyway, nice to see you back at it.

[2019-02-27 19:21] mrchief commented on #117
Yes, it's a tedious process checking them and making sure I didn't make any commitments. I didn't have this problem (of keeping track) until now so didn't put much thought into it. I've started a todo list now. :)

[2019-02-28 07:30] M-ZubairAhmed commented on #6
@jakebolam can i take this one
_No contribution types when adding a contributor_
Just to be sure this means that when adding a collaborator, type of collaboration is not specified ?
for eg `all-contributors add <username>`

[2019-03-05 14:23] jakebolam commented on #6
For sure @M-ZubairAhmed. Thank you!

Yes that is correct, if the user doesn't specify contribution types or invalid ones, then throw a meaningful error.

[2019-03-11 10:39] ehmicky opened #173 "Table cells widths are uneven."
Problem description: on small screens table cells have uneven widths which looks odd.

![Screenshot from 2019-03-11 11-37-06](https://user-images.githubusercontent.com/8136211/54117863-0bc33580-43f2-11e9-8ec3-d9bf452e0b62.png)

This seems to be related to the length of the username and word wrapping.

Reproduction repository: https://github.com/ehmicky/portable-node-guide

Must be looked at on a s

[2019-03-11 12:09] Berkmann18 commented on #173
Thanks for reporting this.
I tried a [few things](https://github.com/Berkmann18/portable-node-guide) but since GH blacklists (inline) CSS it's really tricky to get an HTML-only working approach.

@tbenning @jakebolam Would you guys know another solution?

[2019-03-13 16:19] mrchief opened #175 "A way to link ideas to relevant issues"
**Is your feature request related to a problem? Please describe.**
Currently, `ideas` do not link to anything

![image](https://user-images.githubusercontent.com/781818/54294952-81610a00-4588-11e9-99a8-ae6123a3e380.png)

**Describe the solution you'd like**
I think we can make them link to relevant `issues` by introducing a setting in `.all-contributorsrc`. It is common to have labels like `enhanc

[2019-03-13 16:34] Berkmann18 commented on #175
That's an interesting and good idea which could help in associating contributions to categories (ie. auto-fetching) with not too much manual involvement.
For the links thing itself, I think having utilising the `types` field would be the way to go.

@jakebolam @sinchang Thoughts?

[2019-03-16 13:47] jakebolam commented on #173
Thanks for reporting this @ehmicky. Any thoughts on approaches to address this?

[2019-03-16 13:49] jakebolam commented on #170
@erdahuja how's it going? Is there anything we can help with

[2019-03-16 13:50] ehmicky commented on #173
Unfortunately not, sorry :/

I've also noticed that the table is horizontally scrolled on mobile, but I'm not sure if this is intentional and/or this is related.

[2019-03-16 14:01] jakebolam commented on #175
This sounds awesome. Thanks for the in-depth research @mrchief. Are you interested in implementing this?

[2019-03-16 21:14] Berkmann18 commented on #173
@ehmicky > I've also noticed that the table is horizontally scrolled on mobile, but I'm not sure if this is intentional and/or this is related.

This is definitely not intentional, I'll try fixing that.

[2019-03-16 21:21] ehmicky commented on #173
@Berkmann18 you can reproduce by checking the same repository I posted above on a mobile screen. Please let me know if you would like me to post a screenshot.

[2019-03-16 23:07] Berkmann18 commented on #173
@ehmicky Yes I know, I tried something out but since there's more entries on the row than what my (and certainly your) phone can display, there's that horizontal scrolling even when the table's width is set to `99%`.

[2019-03-17 01:20] mrchief commented on #175
I'm already behind on my bot contributory PR, you sure you want me to sign up for this as well? :)

I'd love to once I clear my backlog though!

[2019-03-17 09:06] erdahuja commented on #170
@jakebolam Please merge my [PR](https://github.com/all-contributors/all-contributors-cli/pull/171) it's completed with tests, also approved.

[2019-03-17 14:37] #170 closed

[2019-04-15 13:07] Berkmann18 commented on #173
@ehmicky Have you tried rolling back to the `v5` version where markdown was used for the rendering?

[2019-04-15 13:44] ehmicky commented on #173
No I haven't because while this issue leads to horizontal scrolling, I don't think it justifies rolling back (and losing on bug fixes and features).

[2019-04-15 14:00] Berkmann18 commented on #173
@ehmicky Well, the `v5` (if I recall correctly) was generating Markdown tables instead of HTML ones so it probably will fix the issue or part of it.

If the horizontal scrolling were to re-occur, then either changing the `contributorsPerLine` property in `.all-contributorsrc` or making the table responsive (which might be hard or perhaps impossible given the restrictions on GH file rendering).

[2019-04-15 14:24] ehmicky commented on #173
The horizontal scrolling is still an issue (I just tried it), so it will re-occur.

I tried decreasing `contributorsPerLine`. It looks better on mobile. However it looks worse on desktop.

Locking the version back to a previous major version for the foreseeable future does not look like a good practice, as I might miss important bug fixes, features or security patches.

The real fix would be to ma

[2019-04-15 15:13] Berkmann18 commented on #173
@ehmicky

😞.

That's what I thought would happen in case of no responsiveness.

Good point, I was thinking of having either a separate development channel which would be as up-to-date as the upstream but using `v5`'s Markdown rendering approach or having a submodule/subpackage which was generating the table in Markdown as opposed to doing it in HTML?

What are your thoughts about that?

Indeed, ho

[2019-04-15 15:20] ehmicky commented on #173
Wouldn't it be simpler to have both options in the same branch in v6 but being a boolean option?

[2019-04-15 15:29] Berkmann18 commented on #173
@ehmicky Yeah, that's a better idea.
@sinchang @jakebolam What do you guys think?

[2019-05-12 01:51] mrchief commented on #117
@Berkmann18 @jakebolam I got something working. I ran a crude test against `all-contributors/all-contributors-bot` repo (which has these nice labels):

![image](https://user-images.githubusercontent.com/781818/57576795-6d297400-7436-11e9-8a78-586a8ad6164a.png)

and I got this:

![image](https://user-images.githubusercontent.com/781818/57576814-df9a5400-7436-11e9-809a-494c161c4da9.png)

I'm gonna t

[2019-05-13 04:14] greenkeeper[bot] opened #185 "An in-range update of yargs is breaking the build 🚨"
## The dependency [yargs](https://github.com/yargs/yargs) was updated from `13.2.2` to `13.2.4`.

🚨 [View failing branch](https://github.com/all-contributors/all-contributors-cli/compare/master...all-contributors:greenkeeper%2Fyargs-13.2.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

yargs is a direct dependency of th

[2019-05-21 14:40] Berkmann18 opened #187 "Adding contributors wreck"
- `all-contributors-cli` version: `latest`
- `node` version: 11.12.0
- `yarn` version: 1.16.0

Relevant code or config

[code]

What you did:
Ran `../all-contributors-cli/src/cli.js fetch`

What happened:
Things seem to work properly until the JSON data read from the `configPath` becomes `0` after a few `addContributors` calls.

Reproduction repository:
Branch `ml` on this one

Problem description

[2019-06-06 06:05] nschonni opened #189 "Pretty-print/Format the generated HTML table"
- `all-contributors-cli` version: N/A
- `node` version: N/A
- `npm` (or `yarn`) version: N/A

What you did:
Enjoyed the bot adding/creating the HTML table

What happened:
The diffs for the HTML table are difficult to parse since they are all on one line

Reproduction repository:
https://github.com/entropic-dev/entropic/pull/179/files

Problem description:
The HTML table currently is  emmitted as a

[2019-06-06 09:35] Berkmann18 commented on #189
I like your suggestion, would you be up for submitting a PR?

[2019-06-11 15:17] #189 closed

[2019-06-11 15:20] Berkmann18 commented on #115
@MatheusRV ping!

[2019-06-11 15:21] Berkmann18 commented on #112
@sli1989 Friendly ping.

[2019-06-11 15:22] Berkmann18 commented on #109
@xuchaoying Since the CLI now can be configured to use a specific commit convention, is there anything missing?

[2019-06-11 15:23] Berkmann18 commented on #88
@endel Friendly ping.

[2019-06-11 15:24] Berkmann18 commented on #70
@blackxored Friendly ping.

[2019-06-11 15:25] Berkmann18 commented on #61
@tyler-reitz Friendly ping.

[2019-06-11 15:27] Berkmann18 commented on #25
Since we have Crowdin and this has been inactive for quite some time, I'll close it.
Feel free to re-open (if need be).

[2019-06-11 15:27] #25 closed

[2019-06-11 17:56] endel commented on #88
Hey @Berkmann18, I don't have much time to contribute at this moment, unfortunately.

[2019-06-11 21:52] MatheusRV commented on #115
Srry no time.

[2019-06-12 00:42] blackxored commented on #70
7.x or so I believe (current) doesn’t have this issue, sorry for the late response.

[2019-06-12 00:42] #70 closed

[2019-06-12 08:23] Berkmann18 commented on #70
Okay, good to hear.

[2019-07-15 22:06] rachelcarmena opened #195 "Pretty small detail: badge doesn't link to the Contributors section"
## Data

- `all-contributors-cli` version: **v6.7.0**
- `node` version: _it doesn't depend on this version_
- `npm` (or `yarn`) version: _it doesn't depend on this version_

## Problem description:

The problem occurs in `README.md`.

The badge links to `#contributors` :

[code]

while the Contributors section has the link `#contributors-` instead of `#contributors` because of the final sparkles i

[2019-07-16 13:28] Berkmann18 commented on #195
Thanks for pointing that out.
That sparkle thing was introduced in #136 (`v6.6.0`) and there was no discussion in removing that so I think to have the code being updated to accommodate that would be the next step.

Would you mind opening a PR for this?

[2019-07-18 12:18] rachelcarmena commented on #195
Of course!! Thanks for the opportunity to help with a tool that helps me :dancer: :dancer: :dancer:

Awesome!! I made a PR as soon as possible :rocket:

[2019-07-18 14:37] Berkmann18 commented on #195
Superb, I'm looking forward to your PR.
I'm glad to hear that this tool helps you 😀.

[2019-07-18 16:55] rachelcarmena commented on #195
Done, @Berkmann18 ! :rocket: https://github.com/all-contributors/all-contributors-cli/pull/197

[2019-07-19 13:12] #195 closed

[2019-08-22 21:15] greenkeeper[bot] opened #200 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.13.23` to `15.13.24`.

🚨 [View failing branch](https://github.com/all-contributors/all-contributors-cli/compare/master...all-contributors:greenkeeper%2Fsemantic-release-15.13.24).

This version is **covered** by your **current version range** and after updating it in your project **th

[2019-08-31 20:07] SnO2WMaN opened #202 "Add gitmoji to commitConvention in config"
- `all-contributors-cli` version: 6.8.1

There is a commit message format called [Gitmoji](https://gitmoji.carloscuesta.me).

Will you add it to `commitConvention` in configuration?

Internally, I think you just need to add the atom's `:memo:` changed to `:busts_in_silhouette:`.

[2019-09-05 13:26] #202 closed

[2019-09-21 20:15] protoEvangelion commented on #117
@mrchief can you commit the code you used to achieve this so we can see 😻

[2019-09-21 23:42] protoEvangelion commented on #117
For those who would like a work around, I hacked a workflow together:

### To add every one who committed code in one swoop:

[code]

Grab that list and save it to a file `file.txt` with format:
[code]

Then run: `cat file.txt | xargs -I % sh -c 'all-contributors add %;'`

### To get users who opened bug reports, I used [Ocktokit](https://octokit.github.io/rest.js/):

[code]

and added them to a t

[2019-09-22 12:51] Berkmann18 commented on #117
@protoEvangelion That looks nice, the problem with this is that there's no auto-fetching and is limited to `bug`/`code` contributions.

[2019-09-22 22:11] protoEvangelion commented on #117
True! It's definitely not ideal ;) Works decent if you label issues well though.

[2019-09-24 02:09] mrchief commented on #117
@protoEvangelion This hasn't escaped my mind. I've been awfully busy lately. I'll try to send it across soon.

[2019-09-26 22:43] ericclemmons commented on #117
I ended up copy/pasting the output of `yarn all-contributors check` into a file (e.g. `add-contributors.sh`), split on `, `, then made each line read like:

[code]

Then running:

[code]

Rate limits apply, so using `PRIVATE_TOKEN` is necessary:

[2019-10-03 01:53] mrchief commented on #117
@protoEvangelion Been a while so took me a while to piece things together. So it seems I did create a PR for this https://github.com/all-contributors/all-contributors-cli/pull/184 which got superseded by the work @Berkmann18 was doing in #196.

In case you're interested, my code lives here: https://github.com/mrchief/all-contributors-cli/tree/feat/discover.

@Berkmann18 it seems like it's been a w

[2019-10-03 10:40] Berkmann18 commented on #117
@mrchief Yes, it's been a while due to a variety of stuff including one issue (#187) which blocked progress and I haven't got around to resolving that (hopefully the break would have been helpful).
As I mentioned to @protoEvangelion, any help is welcome as I was pretty much the only one looking after most of the AC repos lately (+ other projects).

I'll go through the code again tomorrow (or on th

[2019-10-03 14:01] mrchief commented on #117
@Berkmann18 Sounds good. I can look it over this weekend. Could you add me to `dl` branch?

[2019-10-03 23:19] Berkmann18 commented on #117
@jakebolam @kentcdodds Could either of you do that? I don't seem to have access to the settings for this repo.

@mrchief In the meantime, I'll add you to a fork so you could work on it as soon as you can.

[2019-10-07 06:45] dexpota opened #209 "Cannot add new contributions"
- `all-contributors-cli` version: 6.9.1
- `node` version: 12.6.0
- `npm` version: 6.11.3

You can find the configuration file [here](https://github.com/dexpota/kitty-themes/blob/master/.all-contributorsrc)

If I run `all-contributors` from the project's root directory and select to add a new contribution I get this error:

[code]

This issue is not present if I run `all-contributors` version `6.9.

[2019-10-07 09:39] Berkmann18 commented on #209
@dexpota What exactly have you typed?

[2019-10-07 09:45] dexpota commented on #209
I typed `all-contributors` on the shell then I selected `Add new contributor ...` and it gives me that message.

[2019-10-07 13:58] Berkmann18 commented on #209
It seems like I get that error as well, I'm unable to look into it now but will do asap.

[2019-10-11 17:10] Berkmann18 commented on #209
I've looked into it and can see why this happens but I'm unsure when that bug was introduced and I'm really busy at the moment so I can't seem to find what recent change caused this (especially since `git blame` points to fairly old contributions on the relevant LOCs).

Have you tried to reproduce this error with previous version?

[2019-10-12 22:05] dexpota commented on #209
The version `6.9.0` seems to work just fine.

[2019-10-16 12:04] dexpota commented on #209
I could look into this issue. This would be the first contribution for me on this project, do you think is it a good first-timer issue?

[2019-10-16 18:26] Berkmann18 commented on #209
That would be amazing and welcome... And that goes in line with the other first-timer issues across AC repos.

So go ahead when you can :grinning:.

[2019-10-19 23:45] #120 closed

[2019-10-26 10:14] greenkeeper[bot] opened #214 "An in-range update of git-cz is breaking the build 🚨"
## The devDependency [git-cz](https://github.com/streamich/git-cz) was updated from `3.2.1` to `3.3.0`.

🚨 [View failing branch](https://github.com/all-contributors/all-contributors-cli/compare/master...all-contributors:greenkeeper%2Fgit-cz-3.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

git-cz is a devDependency o

[2019-10-29 23:47] greenkeeper[bot] opened #215 "An in-range update of kcd-scripts is breaking the build 🚨"
## The devDependency [kcd-scripts](https://github.com/kentcdodds/kcd-scripts) was updated from `1.9.0` to `1.10.0`.

🚨 [View failing branch](https://github.com/all-contributors/all-contributors-cli/compare/master...all-contributors:greenkeeper%2Fkcd-scripts-1.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

kcd-scrip

[2019-10-31 17:43] greenkeeper[bot] opened #216 "An in-range update of nock is breaking the build 🚨"
## The devDependency [nock](https://github.com/nock/nock) was updated from `11.6.0` to `11.7.0`.

🚨 [View failing branch](https://github.com/all-contributors/all-contributors-cli/compare/master...all-contributors:greenkeeper%2Fnock-11.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nock is a devDependency of this pro

[2019-11-01 21:01] AnandChowdhary opened #217 "Inaccessible HTML table code generated due to extra alt text"
**Describe the bug**
The HTML markup of a typical table cell generated by All Contributors looks like this:

[code]

As you'll notice, the `<img>` has alternate text with the user's name, which is then repeated below in the `<sub><b>` tag.

The problem is that a screen reader would read this is "Anand Chowdhary Anand Chowdhary", when it should actually read it as "Anand Chowdhary". The solution is

[2019-11-02 17:22] AnandChowdhary commented on #217
According to the [decorative images section of the WCAG](https://www.w3.org/WAI/tutorials/images/decorative/):

[code]

[2019-11-05 15:02] greenkeeper[bot] opened #220 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `dependency` [@babel/runtime](https://github.com/babel/babel) was updated from `7.6.3` to `7.7.0`.

🚨 [View failing branch](https://github.com/all-contributors/all-contributors-cli/compare/master...all-contributors:greenkeeper%2Fmonorepo.babel7-20191105110141).

This version is **covered** by your **current version range** and after up

[2019-11-08 13:26] marekrozmus opened #225 "Hyphen in user name problem"
@all-contributors please add aaa-bbb for bug, ideas

Will add user `aaa` not a `aaa-bbb` user.

[2019-11-12 14:55] marekrozmus commented on #225
@Berkmann18

bot is listening 😉 Anyway in the [documentation](https://allcontributors.org/docs/en/bot/usage) this information about the `@` prefix is missing. It is only visible on screenshot that is why I got confused.

[2019-11-12 16:32] Berkmann18 commented on #225
Hmm, good catch. Feel free to submit a PR for this if you can.
If not, I'll do it but I'm very busy at the moment.

[2019-11-28 13:13] #217 closed

[2019-12-03 13:56] Zenigata opened #332 "Add support for AsciiDoc."

[2019-12-09 01:05] #220 closed

[2019-12-09 01:05] #216 closed

[2019-12-09 01:05] #215 closed

[2019-12-09 01:05] #214 closed

[2019-12-09 01:05] #200 closed

[2019-12-09 01:05] #185 closed

[2019-12-14 13:33] ccamara opened #325 "Crediting people/institutions not in github"
**Is your feature request related to a problem? Please describe.**
I would like to credit an organisation for providing some open data in which my project is based, but that organisation does not have a github user (although in my particular case, it does have a github group -but that may not be as common).

I attempted to do so here: https://github.com/ccamara/osm_imports_preparations/issues/4, b

[2019-12-15 19:57] greenkeeper[bot] opened #233 "An in-range update of json-fixer is breaking the build 🚨"
## The dependency [json-fixer](https://github.com/Berkmann18/json-fixer) was updated from `1.3.3` to `1.4.0`.

🚨 [View failing branch](https://github.com/all-contributors/all-contributors-cli/compare/master...all-contributors:greenkeeper%2Fjson-fixer-1.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

json-fixer is a d

[2019-12-19 00:02] greenkeeper[bot] opened #235 "An in-range update of kcd-scripts is breaking the build 🚨"
## The devDependency [kcd-scripts](https://github.com/kentcdodds/kcd-scripts) was updated from `1.12.1` to `1.13.0`.

🚨 [View failing branch](https://github.com/all-contributors/all-contributors-cli/compare/master...all-contributors:greenkeeper%2Fkcd-scripts-1.13.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

kcd-scri

[2019-12-19 03:35] greenkeeper[bot] opened #236 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `dependency` [@babel/runtime](https://github.com/babel/babel) was updated from `7.7.6` to `7.7.7`.

🚨 [View failing branch](https://github.com/all-contributors/all-contributors-cli/compare/master...all-contributors:greenkeeper%2Fmonorepo.babel7-20191219010209).

This version is **covered** by your **current version range** and after up

[2019-12-19 15:02] kytwb opened #237 "avatarBlock is not defined"
From the [docs](https://allcontributors.org/docs/en/bot/configuration):

[code]

[code]

I have used the following instead (after looking at the tests):

[code]

[2019-12-19 17:23] jakebolam commented on #237
You are correct, looking at the code: https://github.com/all-contributors/all-contributors-cli/blob/3382821641ddfaa13135156d2d6d3f5008169153/src/generate/format-contributor.js

It will not work as documented.

@kytwb would you like to put up a PR to fix it?

[2019-12-19 17:47] kytwb commented on #237
Will do! 👍

[2019-12-20 12:38] #237 closed

[2019-12-22 18:56] greenkeeper[bot] opened #238 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.13.32` to `15.14.0`.

🚨 [View failing branch](https://github.com/all-contributors/all-contributors-cli/compare/master...all-contributors:greenkeeper%2Fsemantic-release-15.14.0).

This version is **covered** by your **current version range** and after updating it in your project **the

[2020-01-25 21:36] tr7zw opened #333 "CLI Maven Plugin implementation"
Hey there,
just recently found out about all-contributors and really liked the idea, but personally, the bot would cause too much webhook/commit history spam and as a Java developer the node-based CLI is also rather unhelpful. So I wrote a Java Maven Plugin that simulates the updating of the README.md using the .all-contributorsrc and that can be called via Maven or gets called during each build.

[2020-02-29 06:10] greenkeeper[bot] opened #250 "An in-range update of inquirer is breaking the build 🚨"
## The dependency [inquirer](https://github.com/SBoudrias/Inquirer.js) was updated from `7.0.4` to `7.0.5`.

🚨 [View failing branch](https://github.com/all-contributors/all-contributors-cli/compare/master...all-contributors:greenkeeper%2Finquirer-7.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

inquirer is a direct

[2020-03-01 03:40] greenkeeper[bot] opened #251 "An in-range update of yargs is breaking the build 🚨"
## The dependency [yargs](https://github.com/yargs/yargs) was updated from `15.1.0` to `15.2.0`.

🚨 [View failing branch](https://github.com/all-contributors/all-contributors-cli/compare/master...all-contributors:greenkeeper%2Fyargs-15.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

yargs is a direct dependency of th

[2020-03-01 19:00] greenkeeper[bot] opened #252 "An in-range update of nock is breaking the build 🚨"
## The devDependency [nock](https://github.com/nock/nock) was updated from `12.0.1` to `12.0.2`.

🚨 [View failing branch](https://github.com/all-contributors/all-contributors-cli/compare/master...all-contributors:greenkeeper%2Fnock-12.0.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nock is a devDependency of this pro

[2020-04-12 08:47] ilai-deutel opened #254 "Add a LICENSE file"
Hi,

Could you please add a `LICENSE` file to the repository? I would like to package `all-contributors-cli` for the Arch User Repository and a LICENSE file is required (since the MIT license must include a project-specific copyright line).

Thanks!

[2020-04-12 12:31] Berkmann18 commented on #254
Hi @ilai-deutel, thanks for pointing out that it was missing, I've added one on #255.

[2020-04-12 17:26] #254 closed

[2020-04-20 08:20] jdalrymple commented on #117
Would be nice if we could convert the output from name-your-contributors to all-contributors format which some basic config to map contribution types :'(

[2020-04-20 15:03] Berkmann18 commented on #117
@jdalrymple That's essentially automatically done in #196 but I haven't had the time to troubleshoot some issues.

[2020-04-20 16:06] jdalrymple commented on #117
@Berkmann18 Could you add the issues you are still having in the PR. Id be happy to take a look :smile:

[2020-04-20 16:37] Berkmann18 commented on #117
@jdalrymple

Yup.

[2020-04-20 16:47] jdalrymple commented on #117
Ill see what i can figure out :angel:

[2020-04-28 20:19] baikho commented on #225
I believe we can also close this one now with https://github.com/all-contributors/all-contributors-bot/pull/307, given that this actually relates to the bot repo?

[2020-04-29 00:18] Berkmann18 commented on #225
@baikho Yup, correct.

[2020-04-29 00:18] #225 closed

[2020-04-30 20:02] baikho commented on #61
I was about to look into this but this has already been implemented by @jakebolam in it seems.

I can remove existing contributor's contributions both via interactive mode and the `all-contributors add` command. See relevant test case `should update an existing contributor's contributions if an existing type is removed` that accounts for this in https://github.com/all-contributors/all-contributors

[2020-05-01 00:32] Berkmann18 commented on #61
@baikho Good point, it's bizarre that the PR wasn't linked.

[2020-05-01 00:32] #61 closed

[2020-05-18 13:57] greenkeeper[bot] opened #260 "An in-range update of codecov is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [codecov](https://github.com/codecov/codecov-node) was updated from `3.6.5` to `3.7.0`.

🚨 [View failing branch](https://github.com/all-contributors/all-contri

[2020-05-24 01:29] Berkmann18 commented on #166
@MatheusRV Have you found any better ides?

[2020-05-28 14:55] smeijer opened #265 "allcontributors[bot] mentions himself as missing contributor"
- `all-contributors-cli` version: 6.15.0
- `node` version: v12.16.1
- `npm` (or `yarn`) version: 6.14.0

**Relevant code or config**

[code]

**What you did:**

1. I made the `all-contributors` bot open a few pull-requests to get people added to the readme. (by mentioning the bot in a couple of issues)
2. If I now run the `all-contributors-cli check` script at my terminal, to see if I've missed so

[2020-05-29 14:20] Berkmann18 commented on #265
I see why one would ignore bots in such a list and as you mentioned, the point of All Contributors is to recognise any contributors.
No one is obligating you to add bots in your `.all-contributorsrc` list so that's up to you if you want to recognise them. On the other hand, some people do recognise bots as contributors (at least from what I've seen), and there's no problem with that.

I guess it m

[2020-05-29 15:13] smeijer commented on #265
Thinking about this a bit more, I start to understand the value of recognizing bots.

Maybe we can indeed make it configurable? And/or add a new emojikey?

The following idea's come to mind, no idea if it fit's all in the idea of this project, feel free to burn them at any time:

- [ ] add option to ignore bots, (dependable, imgbot, contributorbot, ...)

- [ ] add option to recognize them under a

[2020-05-29 19:45] Berkmann18 commented on #265
A configuration would be better considering that some bots cover specific categories (which may not be obvious to certain people).

Sounds doable and not too demanding on refactoring.

This would be better imo, I guess some kind of checks would need to be considered to not have such section if there are 0 bots in the contributors list.

Afaik bots like Dependabot, Semantic Release Bot and Snyk bot

[2020-06-05 02:35] JoeIzzard opened #266 "Change to new shields badge"
I posted an issue related to this on the main all-contributors repo, however it seems this is where the badge originates. Relevant Issues:

- all-contributors/all-contributors#361 - New Badge Style Preventing Inline Badge
- all-contributors/all-contributors#406 - Change to new badge

I have just had a PR deployed for a custom badge for all-contributors, which is now live meaning we can move away f

[2020-06-05 21:23] k3nsei opened #267 "Contributor profile url need to be validated"
- `all-contributors-cli` version: 6.15.0
- `node` version: 14.2.0
- `npm` (or `yarn`) version: 1.22.4

What you did:

```yarn run all-contributors add Silvest89```
```yarn run all-contributors generate```

What happened:

Silvest89 has some string instead of url. So after generation of contributors template. Code was invalid html.

Suggested solution:

Please validate if url in github profile if i

[2020-06-06 12:16] Berkmann18 commented on #267
Hmm, that definitely shouldn't happen, feel free to submit a PR for this.

[2020-06-07 12:58] k3nsei commented on #267
@Berkmann18 sure will do

[2020-06-07 20:38] #267 closed

[2020-06-27 23:12] yarikoptic opened #271 "npm installation fails on debian"
- `all-contributors-cli` version: dunno
- `node` version: v12.13.1
- `npm` version: 6.14.4

[code]

[2020-06-27 23:14] yarikoptic commented on #271
rerunning the command succeeds:
[code]
and seems to work
[code]
so I guess the issue is just FTR and FYI, feel welcome to close

[2020-06-28 12:58] Berkmann18 commented on #109
@xuchaoying Friendly ping.

[2020-06-28 13:12] Berkmann18 commented on #271
Have you managed to reproduce it with either `all-contributors-cli` or `all-contributors-cli@latest` or was that a one-off?

[2020-06-28 15:47] yarikoptic commented on #271
Hm, pardon my ignorance in all things of nodejs. do you mean I should try `npm i -D all-contributors-cli@master`?

Also may be it is of relevance: the directory where I ran it, already had package*.json files which got updated by the installation process: https://github.com/datalad-datasets/ohbm2020-posters

[2020-06-28 16:10] Berkmann18 commented on #271
No, like `npm i -D all-contributors-cli@latest` (as in you install the `latest` release), just to see if it persist and what we could do about it.

[2020-06-28 16:47] yarikoptic commented on #271
eh, I am afraid I fail to reproduce original issue any way I had tried, e.g.
[code]
so I guess it might have been some state of my $HOME or npm distribution at that point.  Let's just close

[2020-06-28 16:47] #271 closed

[2020-08-13 04:05] DavidAnson opened #276 "markdownlint-disable/enable is the wrong pattern; use disable/restore instead"
- `all-contributors-cli` version: Latest
- `node` version: N/A
- `npm` (or `yarn`) version: N/A

Relevant code or config

- <https://github.com/all-contributors/all-contributors-cli/blob/72de75abc51ef73e2782a70de7a2be26342bf22f/src/init/init-content.js#L15-L16>
- <https://github.com/all-contributors/all-contributors-cli/blob/d26cd47c817ffbbcdc7362b50c0d066fc2820975/src/generate/index.js#L30-L32>

[2020-08-13 09:28] Berkmann18 commented on #276
I'm not quite sure where the issue is, this disable/enable comment section is there to prevent a previously raised issue where MarkdownLint would complain about the table not respecting rules while _still_ allowing it to do its job as far as the rest of the file (e.g. `README.md`) is concerned.

[2020-08-13 15:40] bnb commented on #276
@Berkmann18 the problem is that `enable` turns on all rules ignoring the users' initial config. In my case, I had a rule I was ignoring that was triggered _after_ the all-contributors block, and because `enable` is used rather than `restore`, my config was ignored and the rules were reset to defaults which was throwing errors rather than restoring my rules.

[2020-08-13 16:12] Berkmann18 commented on #276
@bnb That makes sense. A PR would be welcome for this.

[2020-08-13 16:17] DavidAnson commented on #276
Here’s a visual demonstration:

[What it does](https://dlaa.me/markdownlint/#%25m%23%20all-contributors-cli%0A%0AThe%20line-length%20rule%20has%20been%20disabled.%20The%20line-length%20rule%20has%20been%20disabled.%20The%20line-length%20rule%20has%20been%20disabled.%0A%0A%3C!--%20markdownlint-disable%20--%3E%0Aall-contributors-cli%20stuff%0A%3C!--%20markdownlint-enable%20--%3E%0A%0AYou%20reset%20t

[2020-08-13 17:08] DavidAnson commented on #276
@bnb I probably won't get to this anytime soon. If you want to send the PR, please go ahead.￼ The change is trivial, but I don't know how easy/hard it will be to add tests, etc.￼.

[2020-08-14 03:33] DavidAnson commented on #276
I decided to YOLO a PR. All checks pass. Here you go: https://github.com/all-contributors/all-contributors-cli/pull/278

[2020-08-14 09:18] #276 closed

[2020-09-03 07:53] capaj opened #281 "Feature request: support regular git repos"
I recently made this tool: https://github.com/capaj/contrib-locs

and seeing that you only support github/gitlab with this CLI, it should be possible to add support for a general git repo. Not sure about user avatar images though.

[2020-09-03 11:23] Berkmann18 commented on #281
That's a good point, I don't know if there has been a demand for it for services like Bitbucket but if there is then a PR would be welcome!

[2020-09-04 13:07] melink14 opened #329 "Ability to create custom URL template for types"
**Is your feature request related to a problem? Please describe.**
I would like to add a label parameter for the Bug Report URL and create a URL for enhancement issues to add to the Ideas type.

**Describe the solution you'd like**
There's an example of overriding types in the configuration docs but the link just refers to `url`. It would be good to have an example or description of how to produce

[2020-09-06 18:20] melink14 opened #282 "Add documentation about passing URL as part of contribution"
(forked from all-contributors/all-contributors#438)

**Describe the solution you'd like**
The spec mentions various contribution types which accept a URL (video, blog etc) that aren't automatically handled by the bot/CLI. In the code, we can see that contribution can be a tuple of type and URL but it doesn't seem documented. (https://github.com/all-contributors/all-contributors-cli/blob/0c75595156

[2020-09-06 18:22] Berkmann18 commented on #282
It should be documented.

Not entirely sure, perhaps @jakebolam or one of the (former) maintainers who wrote that?

It's possibly one of the features that haven't been ported to the bot.

[2020-09-16 09:45] shairez opened #284 "Wrong errors message when API rate limit exceeded"
- `all-contributors-cli` version: 6.17.2
- `node` version: 12.14.0
- `npm` (or `yarn`) version: yarn 1.21.1

Relevant code or config

[code]

**What you did:**

Tried to add a contributor via the CLI

**What happened:**

![image](https://user-images.githubusercontent.com/1430726/93320725-16962c00-f81a-11ea-8cd3-92d3cd8701a5.png)

**Problem description:**
First of all - the error "login not found"

[2020-09-16 21:30] Berkmann18 commented on #284
Your solution looks good to me.

[2020-09-19 22:32] shairez commented on #284
Cool, I created #286 to fix this.
Feel free to modify the error message / test if you feel it needs improvement.

[2020-09-20 10:52] #284 closed

[2020-10-27 16:55] IHOPEYOUFALL666 opened #293 "IHOPEYOUFALL666 NO BULLYS"
- `all-contributors-cli` version:
- `node` version:
- `npm` (or `yarn`) version:

Relevant code or config

[code]

What you did:

What happened:

Reproduction repository:

Problem description:

Suggested solution:

[2020-10-30 06:28] laike9m opened #328 "Is it possible to put `.all-contributorsrc` in subfolders?"
**Is your feature request related to a problem? Please describe.**
Right now it seems the `.all-contributorsrc` file can only be placed in the root folder. I would like to put it in the `.github` folder, is it possible?

**Describe the solution you'd like**
Not sure, but I feel we can relax the restriction by including `.github` as a valid location.

**Describe alternatives you've considered**
N/A

[2021-01-29 19:38] chantastic opened #331 "Emoji Key as JSON?"

[2021-02-03 14:44] SirWindfield opened #294 "Namespace API tokens to eliminate name collision"
Hey!

I have an old CLI tool installed that also assumes that I have an environment variable named `PRIVATE_TOKEN` set. It would be awesome if this CLI would namespace the variable, for example `ALL_CONTRIBUTORS_PRIVATE_TOKEN` (or even with Gitlab and GitHub specific variants but that would be out of scope for now). This would eliminate namespace conflicts.

This can be implemented in a backwards-

[2021-02-05 10:28] SirWindfield commented on #294
I'd be open to create a PR if this would get merged!

[2021-02-10 23:47] SirWindfield opened #295 "Expose `contribution-types` in separate package"
It would be cool if the emoji key would be exposed using a package. That way tools can integrate with the specification. For example using it inside of websites themselves.

[2021-02-11 08:06] Berkmann18 commented on #295
That will essentially be the case when the whole AC system will follow the new architecture that is currently a WIP.

[2021-02-11 08:16] Berkmann18 commented on #294
Sounds good to me, a PR would be welcome.

[2021-02-11 13:09] SirWindfield commented on #295
Ah, I totally missed that one, sorry! For now I've just copied over the JS file I mentioned above. Cool to see that this is something that is being considered! Is there a way to help with the new architecture? :thinking:

[2021-02-12 21:21] Berkmann18 commented on #295
It's fine, I'm currently having issues which make it hard to find time in finishing the docs for the new architecture before publishing them.
Right now, there's not much non-core members can do, but as soon as the docs are public, anyone could contribute 😁.

[2021-02-13 16:25] #294 closed

[2021-03-22 21:55] Berkmann18 commented on #295
Quick update, the new architecture design is now live at https://ac-architecture.netlify.app/#/ (repo: https://github.com/all-contributors/architecture) and there's a plan for what's coming next on https://github.com/all-contributors/architecture/issues/3

[2021-03-23 10:55] Berkmann18 commented on #265
Coming back to this, have you thought of a way to implement this?

[2021-03-23 10:57] Berkmann18 commented on #209
Just noticed this wasn't closed and yet fixed so closing this.

[2021-03-23 10:57] #209 closed

[2021-03-23 10:59] Berkmann18 commented on #166
@matbrgz Have you tried any solutions for this?

[2021-03-23 11:01] Berkmann18 commented on #47
@evilsoft @jamesplease Friendly ping.

[2021-03-23 11:03] Berkmann18 commented on #112
I'm going to close this issue as it seems that it may have been resolved.
@sli1989 If your questions are still unanswered then please let me know and I'll re-open it.

[2021-03-23 11:03] #112 closed

[2021-03-23 11:06] #233 closed

[2021-03-23 11:09] Berkmann18 commented on #175
@mrchief Did you get a chance to have a look at this since?

[2021-03-23 11:11] Berkmann18 commented on #88
@endel Did you get a chance to find time for this?

[2021-04-13 19:50] aaltat opened #299 "When contributor name contains a minus sign then allcontributors loses the part after the minus sign"
**Describe the bug**
If contributor name contains a minus sign, like foo-bar, then allcontributors  loses the part after the minus sign. Example foo-bar comes as foo-

**To Reproduce**
1) When I example says: `@all-contributors please add vincenzo-gasparo for code`
2) Then `Could not find the user vincenzo- on github.`

**Expected behavior**
Did expect user to be assed correctly.

[2021-04-14 11:55] aaltat commented on #299
Interesting, our [repository](https://github.com/MarketSquare/robotframework-browser) is using AllContributors bot.

![image](https://user-images.githubusercontent.com/2665023/114706294-706bbf80-9d31-11eb-9aca-17b56ab97c98.png)

[2021-04-16 13:45] 12rambau opened #300 "make the bot work with rst files"
**Is your feature request related to a problem? Please describe.**
I use the following json file to pilot he all-contributor bot :

[code]

and I created the following AUTHOR.rst file to specify the placement of the final table elements :
[code]

But when I launch the bot, the indentation change and the file is broken. In short, .rst files are snesible to indentation inside the `raw` directive and

[2021-04-16 17:42] Berkmann18 commented on #300
I'm aware you may not be good in JavaScript (which I assumed is what you meant instead of Java) so I'm wondering if you have pseudo code / Python implementation of the solution you have in mind (given that you seem to know how to resolve this issue)?
If so, you could write it here and someone could convert it to JS (unless you'll rather do that, even with someone's help).

[2021-04-19 05:51] 12rambau commented on #300
So assuming that the variable `previousContent` is the full extend of the file in 1 single string, I should be able to split it with `\n` so In python I'll do sometiong like :

[code]

[2021-05-12 16:06] vapurrmaid opened #302 "CVE-2021-23337 in transitive dependency lodash"
- `all-contributors-cli` version: all-contributors-cli@6.20.0
- `node` version: N/A
- `npm` (or `yarn`) version: N/A

Relevant code or config

https://github.com/all-contributors/all-contributors-cli/blob/e9c1f55beb2c18391a5d5f0c9e8243dc3f89ebe3/package.json#L49

What you did:

[code]

What happened:

[code]

[code]

Reproduction repository:

https://github.com/all-contributors/all-contributors-cl

[2021-05-14 19:06] #302 closed

[2021-06-18 10:39] 12rambau commented on #300
any news ?

[2021-06-21 22:25] Berkmann18 commented on #300
I saw your PR, I was going to have a proper look but had a lot of things thrown my way and didn't get the chance to do that. I'll try to look into it ASAP.

[2021-06-22 06:23] 12rambau commented on #300
Thnaks a lot and take your time, I just wanted to make sure that the project was still maintained ;-)

[2021-08-27 08:11] kcheriyath opened #327 "Contributors table in markdown"

[2021-09-19 03:28] Jesusizalive96 commented on #266
And avoid pre-established ID?

[2021-11-30 15:45] ericmjl opened #326 "Feature request: A command to trigger update"
After updating the all-contributors bot config file, I'd like to be able to issue a command to the bot to update the README. Currently, my impression is that once we change the bot config file, we'll need to trigger a re-build by adding a contributor's contribution (or something like that).

Could I sanity-check, is my impression correct, or is there another way already present to trigger an updat

[2022-01-08 21:04] LPeter1997 opened #323 "What is the contributors table link based on?"

[2022-02-04 17:49] eliane345 commented on #294
Desculpe o transtorno!

[2022-03-08 10:56] JoshuaKGoldberg opened #312 "Full stack should be logged in CLI onError"
**Describe the bug**
When there is an error thrown running the CLI, all we get right now is the error message. No stack to indicate where it's being thrown.

**To Reproduce**
Steps to reproduce the behavior:
1. Do something to cause an error to be thrown, such as ???
2. `yarn all-contributors generate`

**Expected behavior**

[code]

**Actual behavior**

[code]

**Additional context**

I don't kno

[2022-04-30 13:45] vraravam opened #330 "Add ability for an Ignore list"
This is a great project - thank you!

I would like to request a new feature: Ability to add an ignore list

In our project, we have a lot of bots that show up when I choose to `Compare contributors from the repository with the credited ones` from the cli. I would like the ability to specify this list in an `.all-contributorsrc-ignore` (or any other filename) such that this list need not be perused

[2022-06-05 23:46] juliaferraioli opened #310 "alt tag content missing from contributor template"
- `all-contributors-cli` version: v6.20.0
- `node` version: v12.22.12
- `npm` (or `yarn`) version: 8.3.0

Relevant code or config

[format-contributor.js](https://github.com/all-contributors/cli/blob/master/src/generate/format-contributor.js#L5)

[code]

Problem description:

The image for a contributor has an empty alt text attribute, which looks like it was added in #138 and removed in #218. Whi

[2022-07-20 16:20] klieret commented on #121
I still run into this with the latest version of the cli, so I do not believe this has been fully fixed.

[2022-08-16 10:14] Berkmann18 commented on #310
You're right that an empty `alt` seem futile, and I like the first option you provided.
@all-contributors/core What do you think?

[2022-09-07 21:05] #235 closed

[2022-09-07 21:05] #236 closed

[2022-09-07 21:05] #238 closed

[2022-09-07 21:06] #250 closed

[2022-09-07 21:06] #251 closed

[2022-09-07 21:06] #252 closed

[2022-09-07 21:06] #260 closed

[2022-09-10 01:17] #312 closed

[2022-09-13 00:34] tenshiAMD opened #317 "New format for `contributors` in config file"
I'm proposing this new format for `contributors` in config file to include JSON `key` with value of `username`.

### Why:

- This will significantly reduce the iteration in fetching old contributions.

#### Proposed format

[code]

#### Old format

[code]

[2022-09-13 00:35] tenshiAMD commented on #317
@gr2m @Berkmann18 any thoughts regarding this matter?

[2022-09-13 17:31] Berkmann18 commented on #317
The immediate issue that popped to mind is that you're using a key and value within an array, was it meant to be:
[code]

[2022-09-13 17:44] tenshiAMD commented on #317
@Berkmann18 sorry just a typo haha. Alright then. Let's implement it. Thanks! 🎉

[2022-09-13 17:44] tenshiAMD commented on #317
@Berkmann18 FYI though this might cause breaking changes

[2022-09-13 18:49] Berkmann18 commented on #317
That's true, especially when that'll break with any configs in the current format.

[2022-09-13 19:13] tenshiAMD commented on #317
@Berkmann18 how can we isolate that? I think we need at least two environments (v1 and v2) so we can support the new format without breaking others who still using the old format.

[2022-09-14 19:14] tenshiAMD opened #320 "More options for sorting contributors"
I suggest having more options for sorting contributors.

Options:
- none (default)
- username
- number of contributions

Types:
- ascending - without minus sign  (default)
- descending - with minus sign

### Proposed format
[code]

### Old format
[code]

[2022-09-14 19:15] tenshiAMD commented on #320
@gr2m @Berkmann18 what do you think? Please let me know. Thanks! 🎉

[2022-09-14 19:26] tenshiAMD commented on #22
@all-contributors/core I think this is too irrelevant today. But if anyone still wants this to be implemented. I suggest we do it by votes. Closing this for now. Thank you.

[2022-09-14 19:26] #22 closed

[2022-09-14 19:29] tenshiAMD commented on #47
@all-contributors/core I'm looking forward to this one however I like the implementation in [this one](https://github.com/all-contributors/cli/issues/88)

[2022-09-14 19:42] tenshiAMD commented on #310
@all-contributors/core I think we can do a fallback value for the alt (maybe the first option or just the name). I'm also thinking to add configuration options for the alt (maybe like `contributorsImageAlt`) then we provide some dynamic template options like username, bio, etc.

[2022-09-14 19:46] tenshiAMD commented on #265
@Berkmann18 I think we can do for this is to add `ignoreContributors` option that will skip those unwanted contributors

[2022-09-14 20:01] tenshiAMD commented on #166
Closing this for now. Please refer to [this one](https://github.com/all-contributors/cli/issues/320) instead. Thank you! 🎉

[2022-09-14 20:01] #166 closed

[2022-09-14 20:10] tenshiAMD commented on #175
Related to https://github.com/all-contributors/cli/issues/88

[2022-09-14 20:10] #175 closed

[2022-09-14 20:15] tenshiAMD commented on #47
Closing this for now. Let's move this to https://github.com/all-contributors/cli/issues/88.

[2022-09-14 20:15] #47 closed

[2022-09-14 20:19] tenshiAMD commented on #162
@Berkmann18 so that means using `bgcolor` something like this `<td bgcolor="red">22</td>`. Is this correct?

[2022-09-15 17:54] tenshiAMD commented on #88
@jamesplease First of all. We thank you for sharing your thoughts with us. Let me share mine too.

 https://github.com/all-contributors/cli/issues/47 suggested the manual way of doing it (unless there's a new idea being brought up aside from doing a lot of work) and on the other hand, https://github.com/all-contributors/cli/issues/88 suggested the automated way which in theory that we can use GH A

[2022-09-15 18:35] tenshiAMD opened #321 "Implement `types` options"
See https://github.com/all-contributors/all-contributors/issues/290 for more details.

[2022-09-27 17:07] #300 closed

[2022-09-28 17:11] tenshiAMD commented on #336
Resolved in https://github.com/all-contributors/cli/pull/163.

[2022-09-28 17:11] #336 closed

[2022-09-29 12:15] 12rambau commented on #300
@tenshiAMD it is still not working, as suggested in #301, I used the bot in one of my repository and the bot deindeted the file making it incompatible with .rst

https://github.com/openforis/sepal-doc/pull/230/files

Could you please reopen this issue

[2022-09-29 15:58] tenshiAMD commented on #300
@12rambau looks like there are also issues in configuration and some lines, check my forked repo https://github.com/tenshiAMD/sepal-doc/blob/main/AUTHORS.rst

The only missing here is detecting if the file type is RST then add a tab at beginning of each lines

[2022-09-29 17:11] 12rambau commented on #300
why not add the tab for all file type? It's harmless for .md and compulsory for .rst

[2022-09-29 19:57] tenshiAMD commented on #300
@12rambau is not that easy since most of the contents are injected. I think I need to change the implementation somehow. I made a rough fix in this [branch](https://github.com/all-contributors/cli/tree/tenshiamd/fix-rst) and it's working now. I just need to clean things up.

[2022-10-05 22:18] klieret opened #340 "Remove trailing whitespace (flagged by popular linters)"
I am using the `trailing-whitespace` pre-commit hook. It's one of the default hooks and hence is very popular[^1].

However, the all-contributors is currently inserting trailing whitespace in the contributor table. This means that pre-commit will fail for every PR that all-contributors is opening.

While the hook can fix this automatically with an additional commit, this behavior is still not exac

[2022-10-06 14:20] #340 closed

[2022-10-06 19:02] tenshiAMD commented on #340
@klieret @KnorpelSenf bot is now up to date. Please check. Thanks!

[2022-10-06 19:13] klieret commented on #340
Awesome! Thanks a lot! 😃

[2022-10-06 21:22] KnorpelSenf commented on #340
I can confirm that it works flawlessly now, thank you so much! 🎉

[2022-10-07 08:46] tenshiAMD commented on #340
@all-contributors
add @klieret for bug
add @KnorpelSenf for bug

[2022-10-07 08:47] tenshiAMD commented on #340
@all-contributors
please add @klieret for bug
please add @KnorpelSenf for bug

[2022-10-07 08:49] tenshiAMD commented on #340
@all-contributors please add @KnorpelSenf for bug. please add @klieret for bug.

[2022-10-07 08:58] tenshiAMD commented on #340
@all-contributors please add @KnorpelSenf for bug.

[2022-10-07 09:07] tenshiAMD commented on #340
@all-contributors please add @klieret for bug.

[2022-10-07 09:13] tenshiAMD commented on #340
@KnorpelSenf @klieret You're welcome. Please drop a follow me to show your appreciation. Thanks! 🎉

[2022-10-10 12:24] qyurila commented on #173
After some trials and errors, I ended up reaching a conclusion that specifing `width` attribute of `<td>` tag would be a best solution.

## [Preview branch](https://github.com/qyurila/cli/tree/temp/fixed-width-td-prediew)

Personally, it looks best that the combination of fixed width `<td>` and `contributorsPerLine: 6` config option (2nd table of above preview), in context of both of repo view and

[2022-10-10 15:04] qyurila commented on #173
Additionally, setting `valign` attribute of `<td>` to `"top"` might result the better visual. I added the example about it to preview repo, too.

[2022-10-10 15:34] tenshiAMD commented on #173
@qyurila hi, thanks for suggesting these workarounds. You wanna give this a shot? PRs are very welcome.

- using `width="16.66%"` (we can compute this percentage programmatically which is`contributorsPerLine` divided by `contributorsPerLine`)
- using `valign` (unfortunately this is already deprecated  in HTML5)

[2022-10-12 22:20] tenshiAMD commented on #109
@xuchaoying This may overwrite the current format though. Also, please suggest formats for your use cases. Thanks

[2022-11-01 22:10] Berkmann18 commented on #329
@melink14 Did you get round to looking into implementing that?

[2022-11-02 01:28] melink14 commented on #329
Ah, I did not! Life got in the way, apologies for not updating this.

[2022-11-02 20:54] Berkmann18 commented on #324
@FBoucher Have you tried with the latest versions?

[2022-11-02 20:58] Berkmann18 commented on #173
@qyurila @ehmicky Can either of you try with v6.24 and see if it's still an issue?

[2022-11-03 06:40] qyurila commented on #173
@Berkmann18 The visual got somewhat better but the issue is not quite solved.

You can check [this branch of my repo](https://github.com/qyurila/all-contributors-cli/tree/temp/v6.24.0) to see what the current generation looks like.